include ../c-pagination/c-pagination

mixin c-stores-list__item(data)
	.c-stores-list__item
		.c-stores-list__item-inner
			.c-stores-list__item-ttl
				h4.h4
					if (data.icon)
						i.svg-wrap
							+svg('icon-check')
					|#{data.ttl}
			.c-stores-list__item-img
				.h-object-fit
					img(src=data.image, alt="")
			.c-stores-list__item-txt
				span!=data.txt
			.c-stores-list__item-footer
				.c-stores-list__item-type
					a(href="#")=data.type
				.c-stores-list__item-count
					a(href="#")=data.count

mixin c-stores-list(data)
	.c-stores-list
		.container
			.c-stores-list__wrap
				each item in data.list
					+c-stores-list__item(item)
			if (data.pagination)
				+c-pagination()