include ../c-forms/c-forms

mixin c-search-store(data)
	.c-search-store
		.container
			.c-search-store__wrap
				.c-search-store__inner
					.c-search-store__ttl
						h2.h2=data.ttl
					.c-search-store__list
						ul.h-list
							each item in data.list
								li
									span.c-search-store__item-count=item.count
									span.c-search-store__item-ttl=item.ttl
					.c-search-store__form
						form
							.c-search-store__form-t
								.c-search-store__form-inputs
									.row
										+form-group({
											'col_class':'col-sm-16 col-xs-12 col-xx-24',
											'type':'text',
											'name':'search_store',
											'placeholder':'',
											'value':''
										})
										+form-group({
											'col_class':'col-sm-8 col-xs-12 col-xx-24',
											'type':'select',
											'name':'store_type',
											'placeholder':'',
											'value':'',
											'title':' ',
											'options':[
												{
													'txt':'Фитнес'
												},
												{
													'txt':'Транспорт'
												},
												{
													'txt':'Недвижимость'
												},
												{
													'txt':'Для дома и дачи'
												},
												{
													'txt':'Бытовая электроника'
												},
												{
													'txt':'Личные вещи'
												},
												{
													'txt':'Услуги'
												},
												{
													'txt':'Хобби и отдых'
												},
												{
													'txt':'Работа'
												}
											]
										})
								.c-search-store__form-submit
									button.btn.btn_blue(type="submit") Найти
					.c-search-store__footer
						.c-search-store__footer-t
							.c-search-store__owner
								.c-search-store__owner-logo
									a(href="#")
										img(src=data.owner.logo, alt="")
								.c-search-store__owner-name
									i.svg-wrap
										+svg('icon-check')
									span=data.owner.name
								.c-search-store__owner-profession
									span=" / " + data.owner.profession
							.c-search-store__contacts
								.c-search-store__contacts-messegers
									ul.h-list
										each item in data.contacts.messegers
											li(class=item.disabled ? 'is-disabled' : '')
												unless (item.disabled)
													a(href="#")
														+svg(item.icon)
												else
													span
														+svg(item.icon)
								.c-search-store__contacts-phone-wrap.js--phone-wrap
									.c-search-store__contacts-phone-number
										span.js--phone-number(data-original-number=data.contacts.phone_original)=data.contacts.phone_visible
									button.c-search-store__contacts-phone-trig.btn.btn_white.js--phone-trig(type="button") Показать телефон