.c-search-store {
	margin-top: 20px;

	&__wrap {
		background-image: url(../images/useful/c-search-store/bg.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-right: 30px;
		margin-right: -30px;
		border-radius: 3px;
		padding-left: 30px;
		margin-left: -30px;
		position: relative;
		padding-top: 30px;

		&:before {
			background-color: #000;
			border-radius: 3px;
			position: absolute;
			display: block;
			opacity: 0.75;
			content: '';
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
	}
	&__inner {
		position: relative;
		z-index: 2;
	}
	&__ttl {
		padding-bottom: 10px;

		h2,
		.h2 {
			line-height: 33px;
			font-weight: 700;
			font-size: 22px;
			color: #ffffff;
		}
	}
	&__list {
		padding-bottom: 30px;
		padding-top: 20px;

		ul {
			@media ( min-width: @screen-sm-min) {
				display: table;
			}
			@media ( max-width: @screen-xs-max) {
				.after();
			}
		}
		li {
			@media ( min-width: @screen-sm-min) {
				display: table-cell;
			}
			@media ( max-width: @screen-xs-max) {
				margin-bottom: 10px;
				float: left;
			}

			&:not(:last-child) {
				padding-right: 31px;

				@media ( max-width: @screen-md-max) {
					padding-right: 15px;
				}
			}
		}
	}
	&__item {
		&-count {
			padding-bottom: 5px;
			line-height: 22px;
			font-size: 24px;
			display: block;
			color: #fff;
		}
		&-ttl {
			line-height: 22px;
			font-weight: 700;
			font-size: 14px;
			display: block;
			color: @blue;
		}
	}
	&__form {
		background-color: #fff;
		padding-bottom: 30px;
		padding-right: 30px;
		border-radius: 3px;
		padding-left: 30px;
		padding-top: 40px;

		.row {
			margin-right: -10px;
			margin-left: -10px;

			& > * {
				padding-right: 10px;
				padding-left: 10px;
			}
		}

		&-t {
			@media ( min-width: @screen-sm-min) {
				display: table;
				width: 100%;
			}
		}
		&-inputs {
			@media ( min-width: @screen-sm-min) {
				display: table-cell;
				vertical-align: top;
				width: 100%;
			}
		}
		&-submit {
			text-align: center;

			@media ( min-width: @screen-sm-min) {
				vertical-align: top;
				display: table-cell;
				padding-left: 30px;
			}
			@media ( max-width: @screen-xs-max) {
				padding-top: 5px;
			}
		}
	}
	&__footer {
		padding-bottom: 47px;
		padding-top: 51px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		&-t {
			@media ( min-width: @screen-lg-min) {
				display: table;
				width: 100%;
			}
		}
	}
	&__owner {
		@media ( min-width: @screen-lg-min) {
			vertical-align: middle;
			display: table-cell;
		}

		&-logo {
			@media ( min-width: @screen-sm-min) {
				vertical-align: middle;
				display: inline-block;
			}
			@media ( max-width: @screen-xs-max) {
				padding-bottom: 15px;
			}

			a {
				display: block;

				&:hover {}
				&:focus {}
				&:active {}
			}
		}
		&-name {
			vertical-align: middle;
			display: inline-block;
			margin-left: 25px;
			font-weight: 700;
			font-size: 24px;
			color: #fff;

			@media ( max-width: @screen-xs-max) {
				margin-left: 0;
			}

			.svg-wrap {
				background-color: @yellow;
				vertical-align: middle;
				display: inline-block;
				border-radius: 3px;
				margin-right: 10px;
				font-size: 20px;
				color: #0e0e0e;
				padding: 5px;
				height: auto;
				width: auto;

				.icon {
					display: block;
				}
			}
			span {
				vertical-align: middle;
				display: inline-block;
				margin-bottom: 2px;
			}
		}
		&-profession {
			vertical-align: middle;
			display: inline-block;
			margin-left: 10px;
			font-weight: 700;
			margin-top: 4px;
			color: @yellow;
		}
	}
	&__contacts {
		@media ( min-width: @screen-lg-min) {
			vertical-align: middle;
			display: table-cell;
			text-align: right;
		}
		@media ( max-width: @screen-md-max) {
			margin-top: 15px;
		}

		&-messegers {
			margin-top: 8px;
			font-size: 20px;

			@media ( min-width: @screen-sm-min) {
				vertical-align: middle;
				display: inline-block;
				margin-right: 16px;
			}
			@media ( max-width: @screen-xs-max) {
				margin-bottom: 10px;
			}

			ul {}
			li {
				display: inline-block;
				vertical-align: top;

				&.is-disabled {
					pointer-events: none;
					cursor: default;
					opacity: 0.2;
				}
				&:not(:last-child) {
					margin-right: 5px;
				}
			}
			span,
			a {
				display: block;

				&:hover {}
				&:focus {}
				&:active {}
			}
			.icon {
				display: block;
			}
		}
		&-phone {
			&-wrap {
				vertical-align: middle;
				display: inline-block;
			}
			&-number {
				vertical-align: middle;
				display: inline-block;
				margin-right: 16px;
				line-height: 33px;
				font-weight: 400;
				font-size: 22px;
				color: #fff;

				@media ( max-width: @screen-xx-max) {
					padding-bottom: 10px;
					margin-right: 0;
					display: block;
				}
			}
			&-trig {
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
}