
//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               @White;
//** Global text color on `<body>`.
@text-color:            @Black;

//** Global textual link color.
@link-color:            @blue;
//** Link hover color set via `darken()` function.
@link-hover-color:      @link-color;
//** Link hover decoration.
@link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif: 'Open Sans', sans-serif;
@font-family-serif:      'Open Sans', sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         16px;
@font-size-small:         11px;

@font-size-h1:            60px;
@font-size-h2:            45px;
@font-size-x-h3:          34px;
@font-size-h3:            30px;
@font-size-x-h4:          25px;
@font-size-h4:            24px;
@font-size-h5:            23px;
@font-size-x-h5:          22px;
@font-size-h6:            20px;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.2;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    0; // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    400;
@headings-line-height:    1;
@headings-color:          inherit;



//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              24;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);	



//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      1170px;
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


// custom variabless
// new breackpoint for more flexible styles
@screen-xx-max:                479px;
@screen-sm:                    768px;
@screen-md:                    992px;
@screen-lg:                    1220px;