.c-categories {
	padding-bottom: 21px;
	padding-top: 70px;

	&__tabs {
		&-nav {
			text-align: center;
			position: relative;

			&:before {
				background-color: #dde0e3;
				position: absolute;
				margin-right: auto;
				margin-left: auto;
				max-width: 100%;
				display: block;
				width: 865px;
				height: 1px;
				content: '';
				z-index: 1;
				top: 15px;
				right: 0;
				left: 0;

				@media ( max-width: @screen-xx-max) {
					display: none;
				}
			}

			ul {
				background-color: #fff;
				display: inline-block;
				padding-right: 30px;
				padding-left: 30px;
				position: relative;
				z-index: 2;
				.after();
			}
			li {
				display: block;
				float: left;

				&:not(:last-child) {
					margin-right: 30px;
				}
				&.active {
					a,
					.btn {
						box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
						background-color: #007edf;
						pointer-events: none;
					}
				}
			}
			a {
				box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

				&:hover {}
				&:focus {}
				&:active {}
			}
		}
		&-content {
			padding-bottom: 10px;
			padding-top: 40px;
		}
		&-item {}
	}
	&__blocks {
		text-align: justify;

		@media ( max-width: @screen-xx-max) {
			margin-right: auto;	
			margin-left: auto;
			max-width: 300px;
		}

		.row {
			> * {
				display: inline-block;
				margin-right: -0.15em;
				margin-left: -0.15em;
				vertical-align: top;
				float: none;
			}
		}
	}
	&__block {
		text-align: left;

		&:not(:last-child) {
			margin-bottom: 55px;
		}

		&-ttl {
			margin-bottom: 18px;
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
		&-list {
			ul {}
			li {
				&:not(:last-child) {
					margin-bottom: 14px;
				}
			}
			a {
				color: #2d9df3;

				&:hover {}
				&:focus {}
				&:active {}
			}
		}
	}
}
.tab-pane:not(.active) {
	display: none;
}