mixin c-categories(data)
	.c-categories
		.container
			.c-categories__tabs
				.c-categories__tabs-nav
					ul.nav.nav-tabs.h-list(role='tablist')
						each tab in data.tabs
							li(class=tab.active ? 'active' : '', role='presentation')
								a.btn.btn_blue(href='#' + tab.id,  aria-controls=tab.id, role='tab', data-toggle='tab')=tab.nav
				.c-categories__tabs-content.tab-content
					each tab in data.tabs
						.c-categories__tabs-item.tab-pane.fade(class=tab.active ? 'active in' : '', id=tab.id, role='tabpanel')
							if (tab.content.blocks)
								.c-categories__blocks
									.row
										each block in tab.content.blocks
											.c-categories__block.col-lg-6.col-sm-8.col-xs-12.col-xx-24
												.c-categories__block-ttl
													span=block.ttl
												.c-categories__block-list
													ul.h-list
														each li in block.list
															li
																a(href='#')=li