mixin c-main-banner(data)
	.c-main-banner
		.container
			.c-main-banner__ttl
				h2.h2 Собственный интернет–магазин за 10 минут.  Быстро, легко и бесплатно.
				h3.h3 Автоматическая публикация объявлений в Instagram и Товары.Вконтакте. Массовая загрузка товаров и другие преемущества.
			.c-main-banner__btn-wrap
				a.btn.btn_yellow(href="#modal-open-store", data-toggle="modal"): span Открыть магазин
			.c-main-banner__footer
				span После регистрации, вы получите пакет услуг суммой 1 500 ₽ — бесплатно!