.c-main-banner {
	background-image: url(../images/useful/main-banner/bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 72px;
	padding-top: 195px;
	text-align: center;
	position: relative;

	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	&:before {
		background-color: #0e0e0e;
		position: absolute;
		display: block;
		opacity: 0.8;
		content: '';
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}
	.container {
		position: relative;
		z-index: 2;
	}
	&__ttl {
		margin-right: auto;
		margin-left: auto;
		max-width: 870px;
		color: #fff;

		h2,
		.h2 {
			line-height: 1.38888888em;
			margin-bottom: 19px;
			font-weight: 700;
			font-size: 36px;

			@media ( max-width: @screen-sm-max) {
				font-size: 30px;
			}
			@media ( max-width: @screen-xs-max) {
				font-size: 26px;
			}
			@media ( max-width: @screen-xx-max) {
				font-size: 22px;
			}
		}
		h3,
		.h3 {
			line-height: 1.45833333em;
			font-weight: 400;
			font-size: 24px;

			@media ( max-width: @screen-sm-max) {
				font-size: 20px;
			}
			@media ( max-width: @screen-xs-max) {
				font-size: 18px;
			}
			@media ( max-width: @screen-xx-max) {
				font-size: 16px;
			}
		}
	}
	&__btn-wrap {
		padding-bottom: 15px;
		padding-top: 50px;

		@media ( max-width: @screen-xs-max) {
			padding-top: 30px;
		}
	}
	&__footer {
		font-style: italic;
		margin-right: auto;
		margin-left: auto;
		line-height: 22px;
		max-width: 350px;
		font-size: 14px;
		color: @yellow;
	}
}