mixin c-pagination(data)
	.c-pagination
		ul.h-list
			li.active: span 1
			li: a(href="#") 2
			li: a(href="#") 3
			li: a(href="#") 4
			li: a(href="#") 5
			li: a(href="#") 6
			li: a(href="#") 7
			li: a(href="#") 8
			li: a(href="#") 9