include ../c-forms/c-forms

mixin c-search()
	.c-search
		.container
			.c-search__form
				form
					.c-search__form-t
						+form-group({
							'col_class':'c-search__form-tc',
							'type':'text',
							'name':'search_store',
							'placeholder':'',
							'value':''
						})
						+form-group({
							'col_class':'c-search__form-tc c-search__form-select',
							'type':'select',
							'name':'store_type',
							'placeholder':'',
							'value':'',
							'title':' ',
							'options':[
								{
									'selected':true,
									'txt':'Фитнес'
								},
								{
									'txt':'Транспорт'
								},
								{
									'txt':'Недвижимость'
								},
								{
									'txt':'Для дома и дачи'
								},
								{
									'txt':'Бытовая электроника'
								},
								{
									'txt':'Личные вещи'
								},
								{
									'txt':'Услуги'
								},
								{
									'txt':'Хобби и отдых'
								},
								{
									'txt':'Работа'
								}
							]
						})
						.c-search__form-tc.c-search__form-footer
							button.btn.btn_white(type="submit") Найти