.c-video {
	padding-top: 50px;

	& + .c-advertises {
		padding-top: 17px;
	}

	&__ttl {
		padding-bottom: 30px;

		h3,
		.h3 {
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
	}
	&__list {}
	&__item {
		margin-bottom: 15px;
		position: relative;

		&.is-active {
			.c-video__item-preview,
			.c-video__item-play {
				pointer-events: none;
				visibility: hidden;
				opacity: 0;
			}
		}
		&:not(.is-active) {
			.c-video__item-iframe {
				pointer-events: none;
				visibility: hidden;
				opacity: 0;
			}
		}
		&:before {
			padding-bottom: 62.94964028776978%;
			visibility: hidden;
			display: block;
			content: '';
		}
		&-inner {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
		&-preview {
			transition: opacity 0.3s ease, visibility 0.3s ease;
			height: 100% !important;
			width: 100% !important;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
		&-player {
		}
		&-iframe {
			transition: opacity 0.3s ease, visibility 0.3s ease;
			border: none !important;
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			z-index: 1;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
		&-play {
			transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
			background-color: rgba(45, 157, 243, 0.7);
			color: #fff !important;
			position: absolute;
			font-size: 77px;
			display: block;
			z-index: 3;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;

			&:hover {
				background-color: rgba(45, 157, 243, 0.2);
				.svg-wrap {
					transform: scale(1.1);
				}
			}
			&:focus {}
			&:active {}

			.svg-wrap {
				transition: transform 0.3s ease;
				position: absolute;
				display: block;
				margin: auto;
				bottom: 0;
				right: 0;
				left: 0;
				top: 0;
			}
		}
	}
}