mixin c-video__item(data)
	.c-video__item
		.c-video__item-inner
			.c-video__item-preview.h-object-fit
				img(src=data.preview_img, alt="")
			.c-video__item-player
				iframe.c-video__item-iframe(src="javascript:void(0)", allowfullscreen)
			a(href=data.video_src, target="_blank").c-video__item-play
				i.svg-wrap.icon-play
					+svg('icon-play')

mixin c-video(data)
	.c-video
		.container
			.c-video__ttl
				h3.h3=data.ttl
			.c-video__list
				.row
					each item in data.list
						.col-sm-12.col-xs-24
							+c-video__item(item)