include ../c-forms/c-forms

mixin c-search-params(data)
	.c-search-params
		.c-search-params__ttl
			span=data.ttl
		if (data.list)
			form
				.c-search-params__item
					each item in data.list
						+form-group(item)