.h-anim{
    visibility: hidden;
    opacity: 0;
    transition: @cubicBezier;
    @media ( max-width: @screen-xs-max) {
        visibility: visible;
        opacity: 1;
    }
    &.animated,
    &.anim-is-end {
        opacity: 1;
        visibility: visible;
    }
    &.h-anim_delay200{
        animation-delay: 500ms;
    }
    // 
    &--seniority{
        > * {
            &:nth-child(1){
                animation-delay: 400ms;
            }
            &:nth-child(2){
                animation-delay: 600ms;
            }
            &:nth-child(3){
                animation-delay: 800ms;
            }
            &:nth-child(4){
                animation-delay: 1000ms;
            }
            &:nth-child(4){
                animation-delay: 1000ms;
            }
        }
    }
    &--x-seniority{
        > * {
            &:nth-child(1){
                animation-delay: 400ms;
            }
            &:nth-child(2){
                animation-delay: 500ms;
            }
            &:nth-child(3){
                animation-delay: 600ms;
            }
            &:nth-child(4){
                animation-delay: 700ms;
            }
            &:nth-child(5){
                animation-delay: 800ms;
            }
            &:nth-child(6){
                animation-delay: 900ms;
            }
            &:nth-child(7){
                animation-delay: 1000ms;
            }
        }
    }
    &--x-seniority-children{
        > * {
            &:nth-child(1){
                .h-anim{
                    animation-delay: 200ms;
                }
            }
            &:nth-child(2){
                .h-anim{
                    animation-delay: 400ms;
                }
            }
            &:nth-child(3){
                .h-anim{
                    animation-delay: 600ms;
                }
            }
        }
    }
    &.h-anim_child.animated{
        animation-duration: 0 !important;
        animation-fill-mode: none  !important;
        &:before{
            animation-duration: 1s;
            animation-fill-mode: both;
        }
    }
}