mixin form-group(data)
	- var type = data.type ? data.type : ''
	div(class=data.col_class?data.col_class:'col-xs-24')
		.form-group
			if (data.label)
				if (data.id)
					label.form-group-ttl(for=data.id)
						span=data.label
				else
					label.form-group-ttl
						span=data.label
			if (data.ttl)
				.form-group-ttl
					span=data.ttl
			if (data.notice)
				.form-group-notice
					span!=data.notice

			case type
				when ''
					- break
				when 'submit'
					- break
				when null
					- break
				when 'textarea'
					.input-wrap
						textarea.form-control(class=data.textarea_size?data.textarea_size:'' name=data.name, placeholder=data.placeholder?data.placeholder:'', required=data.required?data.required:null, id=data.id ? data.id : data.name, class=data.custom_class ? data.custom_class : null)!=data.value?data.value:''
					- break
				when 'contenteditable'
					.input-wrap
						textarea.hidden-input(class=data.textarea_size?data.textarea_size:'', name=data.name, placeholder=data.placeholder?data.placeholder:'', required=data.required?data.required:null, id=data.id ? data.id : data.name, class=data.custom_class ? data.custom_class : null)!=data.value?data.value:''
						.form-control(class=data.textarea_size?data.textarea_size:'',contenteditable="true", required=data.required?data.required:null, data-placeholder=data.placeholder?data.placeholder:'', class=data.custom_class ? data.custom_class : null)!=data.value?data.value:''
					- break
				when 'select'
					.select-wrap.select_input-style
						select.selectpicker(title=data.title?data.title:' ')
							each option in data.options
								if (option.selected)
									option(selected)=option.txt
								else
									option=option.txt
					- break
				when 'selectize'
					input.js-selectize(type="text", name=data.name, placeholder=data.placeholder?data.placeholder:'', value=data.value?data.value:'', required=data.required?data.required:null, id=data.id ? data.id : data.name, class=data.custom_class ? data.custom_class : null)
					- break
				default
					.input-wrap
						input.form-control(type=type, name=data.name, placeholder=data.placeholder?data.placeholder:'', value=data.value?data.value:'', required=data.required?data.required:null, id=data.id ? data.id : data.name, data-mask=data.mask ? data.mask : null, class=data.custom_class ? data.custom_class : null)
					- break
			if (type == 'submit')
				.form-footer
					button.btn(class=data.btn_view_class?data.btn_view_class:'', type=type)
						span=data.btn_text
