.c-settings {
	padding-bottom: 50px;
	padding-top: 23px;

	&__ttl {
		padding-bottom: 43px;
		position: relative;

		@media ( max-width: @screen-sm-max) {
			padding-bottom: 20px;
			padding-right: 30px;
		}

		h1.h1 {
			font-weight: 400;
			font-size: 24px;
			color: #384149;
		}
	}
	&__sidebar {
		background-color: #f5fbff;
		padding-bottom: 15px;
		padding-top: 20px;

		@media ( max-width: @screen-sm-max) {
			transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			position: absolute;
			padding-top: 15px;
			z-index: 20;
			right: 0;
			left: 0;
			top: 0;
		}

		&.minimized {
			@media ( max-width: @screen-sm-max) {
				transform: translateX(150%);
				pointer-events: none;
				visibility: hidden;
				opacity: 0;
			}
		}
		&-trig {
			transition: color 0.3s ease;
			position: absolute;
			font-size: 26px;
			display: block;
			color: #000;
			right: 0;
			top: 0;

			&:hover {}
			&:focus {}
			&:active,
			&.active {
				color: @blue;
			}
			.svg-wrap {
				display: block;
			}
		}

		ul {}
		li {
			&:not(:last-child) {
				margin-bottom: 3px;
			}
			&.active {
				a {
					background-color: @blue;
					pointer-events: none;
					cursor: default;
					color: #fff;

					&:hover {}
					&:focus {}
					&:active {}
				}
			}
		}
		a {
			transition: background-color 0.3s ease, color 0.3s ease;
			text-decoration: none !important;
			padding-bottom: 9px;
			padding-left: 20px;
			position: relative;
			padding-top: 12px;
			display: block;

			&:hover {
				background-color: @blue;
				color: #fff;
			}
			&:focus {}
			&:active {}

			.e-count {
				background-color: #fff;
				border-radius: 18px;
				margin-bottom: auto;
				text-align: center;
				position: absolute;
				line-height: 35px;
				font-weight: 600;
				margin-top: auto;
				min-width: 35px;
				display: block;
				color: #384149;
				bottom: -20px;
				height: 35px;
				right: 20px;
				top: -20px;
			}
		}
	}
}