include ../c-set-tarif/c-set-tarif
include ../c-add-ads/c-add-ads
include ../c-set-store/c-set-store

mixin c-settings(data)
	.c-settings
		.container
			.c-settings__ttl
				h1.h1=data.ttl
				button.c-settings__sidebar-trig.button-toggle.hidden-md.hidden-lg(type="button", data-target-block=".c-settings__sidebar")
					i.svg-wrap
						+svg('icon-cog')
			.row
				.col-md-8
					.c-settings__sidebar.minimized
						ul.h-list
							each item in data.sidebar_menu
								li(class=item.active ? 'active' : '')
									a(href="#")=item.txt
										if (item.count)
											span.e-count=item.count
				.col-md-16.col-xs-24
					if (data.set_tarif)
						+c-set-tarif(data.set_tarif)
					if (data.add_ads)
						+c-add-ads(data.add_ads)
					if (data.set_store)
						+c-set-store(data.set_store)