mixin footer(data)
	.c-footer
		.container
			.c-footer__logo
				a(href='#')
					+svg('icon-logo')
			.c-footer__txt
				span!=data.txt
			//- .row
			//- 	.col-md-10.col-sm-8.col-xs-24
			//- 		.c-footer__logo
			//- 			a(href='#')
			//- 				+svg('icon-logo')
			//- 		.c-footer__txt
			//- 			span!=data.txt
			//- 	.col-md-14.col-sm-16.col-xs-24
			//- 		.c-footer__menu-wrap
			//- 			each menu in data.menu
			//- 				.c-footer__menu-block
			//- 					.c-footer__menu-block-ttl
			//- 						span=menu.ttl
			//- 					ul.h-list
			//- 						each li in menu.list
			//- 							li: a(href="#")=li