mixin c-breadcrumbs(list)
	.c-breadcrumbs
		.container
			ul.h-list
				- for(label in list)
					- if(list[label] === "")
						li(itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb")
							span(itemprop="title") !{label}
					- else
						li(itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb")
							a(href="#{list[label]}" itemprop="url") 
								span(itemprop="title") !{label}