.c-service-store {
	padding-top: 50px;

	@media ( max-width: @screen-xs-max) {
		padding-top: 15px;
	}

	&__ttl {
		padding-bottom: 15px;
		padding-top: 13px;

		h1,
		.h1 {
			font-size: 24px;
			color: #384149;
		}
	}
	&__abonements {
		padding-bottom: 31px;
		padding-top: 9px;

		&-ttl {
			padding-bottom: 18px;

			h3,
			.h3 {
				line-height: 28px;
				font-weight: 400;
				font-size: 20px;
			}
		}
		&-list {}
		&-item {
			&-ttl {
				padding-bottom: 10px;

				h5,
				.h5 {
					line-height: 26px;
					font-weight: 400;
					font-size: 17px;
					color: #384149;
				}
			}
			&-txt {
				line-height: 22px;
				font-weight: 400;
				font-size: 14px;
				color: #384149;

				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			&-price {
				line-height: 22px;
				padding-top: 8px;
				font-weight: 700;
				font-size: 14px;
				color: #384149;
			}
		}
	}
}