include ../c-sidebar-banner/c-sidebar-banner
include ../c-faq/c-faq

mixin c-service-store(data)
	.c-service-store
		.container
			.row
				.col-md-16.col-xs-24
					.c-service-store__ttl
						h1.h1=data.ttl
					if (data.abonements)
						.c-service-store__abonements
							.c-service-store__abonements-ttl
								h3.h3=data.abonements.ttl
							.c-service-store__abonements-list
								.row
									each item in data.abonements.list
										.c-service-store__abonements-item.col-sm-12.col-xs-24
											.c-service-store__abonements-item-ttl
												h5.h5=item.ttl
											.c-service-store__abonements-item-txt
												p!=item.txt
											.c-service-store__abonements-item-price
												span!=item.price
					if (data.image)
						img(src=data.image, alt="")
					if (data.faq)
						+c-faq(data.faq)
				.col-md-8.col-xs-24
					if (data.banner)
						+c-sidebar-banner(data.banner)