mixin c-advertises__item(data)
	.c-advertises__item
		.c-advertises__item-inner
			.c-advertises__item-img
				.h-object-fit
					img(src=data.image, alt="")
			.c-advertises__item-body
				.c-advertises__item-ttl
					a(href="#")
						h5.h5(title=data.ttl)=data.ttl
				.c-advertises__item-info
					.c-advertises__item-price
						span=data.price
					.c-advertises__item-date
						span=data.date
mixin c-advertises(data)
	.c-advertises
		.container
			.c-advertises__ttl
				h3.h3=data.ttl
			.c-advertises__body
				.row
					.c-advertises__list.js--slick
						each item in data.list
							+c-advertises__item(item)
