.c-advertises {
	padding-top: 51px;

	&__ttl {
		padding-bottom: 29px;

		h3,
		.h3 {
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
	}
	&__body {}
	&__list {
		transition: opacity 0.3s ease, visibility 0.3s ease;

		&:not(.slick-initialized) {
			pointer-events: none;
			visibility: hidden;
			overflow: hidden;
			height: 261px;
			opacity: 0;

			@media ( max-width: @screen-md-max) {
				height: 230px;
			}
			@media ( max-width: @screen-sm-max) {
				height: 266px;
			}
			@media ( max-width: @screen-xs-max) {
				height: 250px;
			}
		}
	}
	&__item {
		padding-right: 15px;
		padding-left: 15px;

		&-inner {}
		&-img {
			position: relative;

			.h-object-fit {
				position: absolute;
				height: 100%;
				width: 100%;
				bottom: 0;
				right: 0;
				left: 0;
				top: 0;
			}
			&:before {
				padding-bottom: 60.30534351145038%;
				visibility: hidden;
				display: block;
				content: '';
			}
		}
		&-body {
			border-bottom: 1px solid #f6f6f6;
			border-right: 1px solid #f6f6f6;
			border-left: 1px solid #f6f6f6;
			padding-bottom: 18px;
		}
		&-ttl {
			padding-bottom: 15px;
			padding-top: 20px;

			h5,
			.h5 {
				white-space: nowrap;
				padding-left: 20px;
				position: relative;
				line-height: 26px;
				font-weight: 400;
				overflow: hidden;
				font-size: 17px;
				color: inherit;

				@media ( max-width: @screen-xs-max) {
					font-size: 16px;
				}

				&:before {
					box-shadow: 0px 0px 20px 20px #fff;
					background-color: #fff;
					position: absolute;
					display: block;
					height: 100%;
					content: '';
					width: 1px;
					bottom: 0;
					right: 0;
					top: 0;
				}
			}
			a {
				display: block;
				color: #384149 !important;
			}
		}
		&-info {
			display: table;
			width: 100%;
		}
		&-price {
			vertical-align: top;
			white-space: nowrap;
			display: table-cell;
			padding-left: 20px;
			line-height: 20px;
			font-weight: 700;
			font-size: 16px;
			color: #384149;
		}
		&-date {
			padding-right: 20px;
			vertical-align: top;
			display: table-cell;
			line-height: 22px;
			text-align: right;
			color: #384149;
			width: 100%;
		}
	}
}