mixin c-feedback__item(data)
	.c-feedback__item
		.c-feedback__item-t
			.c-feedback__item-avatar
				.h-object-fit
					img(src=data.avatar, alt="")
			.c-feedback__item-content
				.c-feedback__item-ttl
					span=data.ttl
				.c-feedback__item-txt
					p!=data.txt
				.c-feedback__item-author
					span=data.author
mixin c-feedback(data)
	.c-feedback
		.container
			.c-feedback__slider-wrap
				.c-feedback__slider.js--slick
					each item in data.items
						+c-feedback__item(item)