.c-feedback {
	background-color: #f5f8f9;

	&__slider {
		transition: opacity 0.3s ease, visibility 0.3s ease;

		&:not(.slick-initialized) {
			visibility: hidden;
			overflow: hidden;
			height: 262px;
			opacity: 0;
		}
		&-wrap {
			padding-bottom: 102px;
			padding-right: 100px;
			padding-left: 100px;
			padding-top: 100px;

			@media ( max-width: @screen-md-max) {
				padding-right: 70px;
				padding-left: 70px;
			}
			@media ( max-width: @screen-sm-max) {
				padding-bottom: 70px;
				padding-top: 70px;
			}
			@media ( max-width: @screen-xs-max) {
				padding: 40px 50px;
			}
			@media ( max-width: @screen-xx-max) {
				padding-right: 0;
				padding-left: 0;
			}
		}
		.slick-arrow {
			transition: opacity 0.3s ease;
			position: absolute;
			font-size: 52px;
			display: block;
			color: @blue;
			z-index: 5;
			top: 106px;

			@media ( max-width: @screen-sm-max) {
				top: 80px;
			}
			@media ( max-width: @screen-xs-max) {
				top: 70px;
			}

			&.slick-disabled {
				pointer-events: none;
				cursor: default;
				opacity: 0.5;
			}
			&.slick-prev {
				left: -93px;

				@media ( max-width: @screen-md-max) {
					left: -63px;
				}
				@media ( max-width: @screen-xs-max) {
					left: -60px;
				}
				@media ( max-width: @screen-xx-max) {
					left: -10px;
				}
			}
			&.slick-next {
				right: -93px;

				@media ( max-width: @screen-md-max) {
					right: -63px;
				}
				@media ( max-width: @screen-xs-max) {
					right: -60px;
				}
				@media ( max-width: @screen-xx-max) {
					right: -10px;
				}
			}
		}
	}
	&__item {
		&-t {
			@media ( min-width: @screen-sm-min) {
				display: table;
				width: 100%;
			}
		}
		&-avatar {
			position: relative;
			max-width: 100%;
			width: 262px;

			@media ( min-width: @screen-sm-min) {
				vertical-align: top;
				display: table-cell;
			}
			@media ( max-width: @screen-sm-max) {
				width: 200px;
			}
			@media ( max-width: @screen-xs-max) {
				margin-right: auto;
				margin-left: auto;
			}

			.h-object-fit {
				border-radius: 50%;
				overflow: hidden;
				width: 100%;

				&:after {
					padding-bottom: 100%;
					visibility: hidden;
					display: block;
					content: '';
				}
			}
		}
		&-content {
			@media ( min-width: @screen-sm-min) {
				vertical-align: top;
				display: table-cell;
				padding-left: 28px;
			}
		}
		&-ttl {
			margin-bottom: 35px;
			line-height: 37px;
			font-weight: 400;
			font-size: 24px;
			color: #0e0e0e;

			@media ( max-width: @screen-xs-max) {
				margin-bottom: 25px;
				text-align: center;
				line-height: 28px;
				margin-top: 15px;
				font-size: 20px;
			}
		}
		&-txt {
			margin-bottom: 22px;
			line-height: 22px;
			font-weight: 400;
			font-size: 14px;
			color: #384149;

			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-author {
			line-height: 22px;
			font-weight: 400;
			font-size: 14px;
			color: #384149;
		}
	}
}