//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/footer/footer
include _includes/components/c-modals/c-modals

include _includes/components/c-main-banner/c-main-banner
include _includes/components/c-advantages/c-advantages
include _includes/components/c-commerce/c-commerce
include _includes/components/c-tarifs/c-tarifs
include _includes/components/c-feedback/c-feedback
include _includes/components/c-categories/c-categories

//-----------   INCLUDES END  --------------

doctype html
html(lang='ru')
	+head({'title':'Open Store'})
	body
		//- components
		//- include #{route.fromJade}#{route.images}useful/svg/theme/symbol-defs.svg // for include svg
		.l-page-wrapper
			+header({
				'logged':false,
				'white_fixed':true,
				'locations':[
					{
						'active':true,
						'txt':'Краснодар'
					},
					{
						'txt':'Москва'
					},
					{
						'txt':'Санкт-Петербург'
					},
					{
						'txt':'Ярославль'
					}
				]
			})
			main
				+c-main-banner()
				+c-advantages({
					'ttl':'— Это простой и эффективный инструмент для продажи товаров и услуг.',
					'list':[
						{
							'svg_name':'icon-adv-1',
							'txt':'Собственная, независимая страница магазина где отобраюаются только ваши объявления.'
						},
						{
							'svg_name':'icon-adv-2',
							'txt':'Массовая загрузка объявлений на сайт и синхронизация с Товары.Вконтакте. '
						},
						{
							'svg_name':'icon-adv-3',
							'txt':'Автоматическое дублироване объявлений в Instagram и Товары.Вконтакте'
						},
						{
							'svg_name':'icon-adv-4',
							'txt':'Брендирование магазина. Логотип, слоган, фоновое изображение, собственные баннеры.'
						},
						{
							'svg_name':'icon-adv-5',
							'txt':'Возможность добавления информации о компании, контактов и сервисной информации'
						},
						{
							'svg_name':'icon-adv-6',
							'txt':'Провекра магазина и присвоение статуса «Верифицирован» повысит доверие.'
						}
					]
				})
				+c-commerce({
					'top_images':[
						's/images/useful/c-commerce/icon-1.png',
						's/images/useful/c-commerce/icon-2.png'
					],
					'ttl':'Социальная коммерция',
					'txt':'<p>При публикации объявления в магазине на площадке Linbo, вы сможете автоматически публиковать и синхронизировать все товары в социальных сетях адитория которых огромна.</p>На данный момент доступна интеграция с Instagram и Товары.Вконтакте.<p></p><p>Кроме того, объявления из социальной сети Вконтакте, будут автоматически размещаться на популярной доске объявления Юла и Товары.Одноклассники.</p>',
					'images':[
						's/images/useful/c-commerce/img-1.jpg',
						's/images/useful/c-commerce/img-2.jpg'
					]
				})
				+c-tarifs({
					'ttl':'Доступные тарифные планы',
					'list': [
						{
							'icon':'icon-fast-start',
							'ttl':'Быстрый старт',
							'price':'Бесплатно',
							'descr':'Весь функционал без ограничений',
							'limit':'— до 10 товаров',
							'btn_text':'Открыть магазин',
							'btn_style':'btn_blue'
						},
						{
							'special':true,
							'special_txt':'Самый популярный',
							'icon':'icon-startup',
							'ttl':'Стартап',
							'price':'300 ₽ / месяц',
							'descr':'Весь функционал без ограничений',
							'limit':'— до 100 товаров',
							'btn_text':'Открыть магазин',
							'btn_style':'btn_blue'
						},
						{
							'icon':'icon-business',
							'ttl':'Бизнес',
							'price':'700 ₽ / месяц',
							'descr':'Весь функционал без ограничений',
							'limit':'— Товары без ограничений',
							'btn_text':'Открыть магазин',
							'btn_style':'btn_blue'
						}
					]
				})
				+c-feedback({
					'items':[
						{
							'avatar':'s/images/tmp_file/users/user-1.jpg',
							'ttl':'Отзывы предпринимателей',
							'txt':'Отличный сервис! Нашел исполнителя на перевозку негабаритного груза буквально за 20 минут. Самим исполнителем остался очень доволен! Буду теперь искать здесь и товары, благо объявлений много и есть из чего выбирать.',
							'author':'Олег, г. Краснодар'
						},
						{
							'avatar':'s/images/tmp_file/users/user-1.jpg',
							'ttl':'Отзывы клиентов',
							'txt':'Отличный сервис! Нашел исполнителя на перевозку негабаритного груза буквально за 20 минут. Самим исполнителем остался очень доволен! Буду теперь искать здесь и товары, благо объявлений много и есть из чего выбирать.Отличный сервис! Нашел исполнителя на перевозку негабаритного груза буквально за 20 минут. Самим исполнителем остался очень доволен! Буду теперь искать здесь и товары, благо объявлений много и есть из чего выбирать.',
							'author':'Виктор, г. Краснодар'
						}
					]
				})
				+c-categories({
					'tabs':[
						{
							'active':true,
							'nav':'Товары',
							'id':'tab_products',
							'content': {
								'blocks':[
									{
										'ttl':'Авто',
										'list':[
											"Автомобили",
											"Мотоциклы и мототехника",
											"Грузовики и спецтехника",
											"Водный транспорт",
											"Запчасти и аксессуары"
										]
									},
									{
										'ttl':'Недвижимость',
										'list':[
											'Квартиры',
											'Комнаты',
											'Дома, дачи, коттеджи',
											'Земельные участки',
											'Гаражи и машиноместа',
											'Коммерческая недвижимость',
											'Недвижимость за рубежом'
										]
									},
									{
										'ttl':'Хобби',
										'list':[
											'Билеты и путешествия',
											'Велосипеды',
											'Книги и журналы',
											'Коллекционирование',
											'Музыкальные инструменты',
											'Охота и рыбалка',
											'Спорт и отдых'
										]
									},
									{
										'ttl':'Бытовая техника',
										'list':[
											'Аудио и видео',
											'Игры, приставки и программы',
											'Настольные компьютеры',
											'Ноутбуки',
											'Оргтехника и расходники',
											'Планшеты и электронные книги',
											'Телефоны',
											'Товары для компьютера',
											'Фототехника'
										]
									},
									{
										'ttl':'Телефоны и связь',
										'list':[
											'Мобильная связь',
											'Для дома и офиса',
											'Ремонт и сервис телефонов'
										]
									},
									{
										'ttl':'Строительство',
										'list':[
											'Инструменты',
											'Двери, окна, балконы, лестницы',
											'Материалы',
											'Сантехника',
											'Электрика',
											'Отопление',
											'Готовые конструкции'
										]
									},
									{
										'ttl':'Одежда',
										'list':[
											'Женская одежда',
											'Мужская одежда',
											'Женская обувь',
											'Мужская обувь'
										]
									},
									{
										'ttl':'Мебель и интерьер',
										'list':[
											'Мебель для гостиной',
											'Мягкая мебель',
											'Мебель для спальни',
											'Мебель для кухни',
											'Мебель для прихожей',
											'Мебель для ванной комнаты',
											'Компьютерные столы и кресла',
											'Офисная мебель'
										]
									}
								]
							}
						},
						{
							'nav':'Услуги',
							'id':'tab_services',
							'content': {
								'blocks':[
									{
										'ttl':'Авто',
										'list':[
											"Автомобили",
											"Мотоциклы и мототехника",
											"Грузовики и спецтехника",
											"Водный транспорт",
											"Запчасти и аксессуары"
										]
									},
									{
										'ttl':'Недвижимость',
										'list':[
											'Квартиры',
											'Комнаты',
											'Дома, дачи, коттеджи',
											'Земельные участки',
											'Гаражи и машиноместа',
											'Коммерческая недвижимость',
											'Недвижимость за рубежом'
										]
									},
									{
										'ttl':'Хобби',
										'list':[
											'Билеты и путешествия',
											'Велосипеды',
											'Книги и журналы',
											'Коллекционирование',
											'Музыкальные инструменты',
											'Охота и рыбалка',
											'Спорт и отдых'
										]
									},
									{
										'ttl':'Бытовая техника',
										'list':[
											'Аудио и видео',
											'Игры, приставки и программы',
											'Настольные компьютеры',
											'Ноутбуки',
											'Оргтехника и расходники',
											'Планшеты и электронные книги',
											'Телефоны',
											'Товары для компьютера',
											'Фототехника'
										]
									},
									{
										'ttl':'Телефоны и связь',
										'list':[
											'Мобильная связь',
											'Для дома и офиса',
											'Ремонт и сервис телефонов'
										]
									},
									{
										'ttl':'Строительство',
										'list':[
											'Инструменты',
											'Двери, окна, балконы, лестницы',
											'Материалы',
											'Сантехника',
											'Электрика',
											'Отопление',
											'Готовые конструкции'
										]
									},
									{
										'ttl':'Одежда',
										'list':[
											'Женская одежда',
											'Мужская одежда',
											'Женская обувь',
											'Мужская обувь'
										]
									},
									{
										'ttl':'Мебель и интерьер',
										'list':[
											'Мебель для гостиной',
											'Мягкая мебель',
											'Мебель для спальни',
											'Мебель для кухни',
											'Мебель для прихожей',
											'Мебель для ванной комнаты',
											'Компьютерные столы и кресла',
											'Офисная мебель'
										]
									}
								]
							}
						}
					]
				})

			+footer({
				'txt':'&copy; 2016 Linbo — Теперь все объявления в едином сервисе.',
				'menu':[
					{
						'ttl':'Информация',
						'list': [
							'Безопасноть и гарантии',
							'Как стать исполнителем',
							'Отзывы исполнителей',
							'Отзывы заказчиков'
						]
					},
					{
						'ttl':'Компания',
						'list': [
							'Вакансии',
							'Контакты',
							'СМИ о нас'
						]
					},
					{
						'ttl':'Поддержка',
						'list': [
							'Правила сервиса',
							'Частые вопросы'
						]
					}
				]
			})
			+modal-change-tarif()
			+modal-open-store()
			
		script(data-main=route.js + "main" src=route.js + "require.js")