button {
    // button reset
    background-color: transparent;
    outline: none !important;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
}
.btn {
    transiiton: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none !important;
    border: 1px solid transparent;
    background-color: transparent;
    transition: all 300ms ease;
    text-transform: uppercase;
    font-size: @font-size-h6;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    line-height: 33px;
    font-weight: 600;
    font-size: 14px;
    padding: 0 14px;
    color: inherit;
    height: 35px;

    // states
    a& {
        text-decoration: none;
    }

    // colors
    &_transparent {
        padding-right: 0;
        padding-left: 0;

        &.btn_back {
            margin-left: 0;

            &:before {
                display: none;
            }
        }
    }
    &_yellow {
        &:not(.btn_transparent) {
            background-color: @yellow;
            color: #0e0e0e;

            &:hover {
                background-color: @yellow + 20%;
                color: #0e0e0e;
            }
            &:focus {
                color: #0e0e0e;
            }
            &:active {
                background-color: @yellow + 30%;
                color: #0e0e0e;
            }
        }
        &.btn_transparent {
            background-color: transparent;
            color: @yellow;

            &:hover {
                color: @yellow + 20%;
            }
            &:focus {
                color: @yellow;
            }
            &:active {
                color: @yellow + 30%;
            }
        }
    }
    &_white {
        &:not(.btn_transparent) {
            background-color: @White;
            color: @blue;

            &:hover {
                background-color: @White - 40%;
                color: @blue;
            }
            &:focus {
                color: @blue;
            }
            &:active {
                background-color: @White - 60%;
                color: @blue;
            }
        }
        &.btn_transparent {
            background-color: transparent;
            color: @White;

            &:hover {
                color: @White - 40%;
            }
            &:focus {
                color: @White;
            }
            &:active {
                color: @White - 60%;
            }
        }
    }
    &_blue {
        &:not(.btn_transparent) {
            background-color: @blue;
            color: @White;

            &:hover {
                background-color: @blue + 20%;
                color: @White;
            }
            &:focus {
                color: @White;
            }
            &:active {
                background-color: @blue + 30%;
                color: @White;
            }
        }
        &.btn_transparent {
            background-color: transparent;
            color: @blue;

            &:hover {
                color: @blue + 20%;
            }
            &:focus {
                color: @blue;
            }
            &:active {
                color: @blue + 30%;
            }
        }
    }


    // sizes
    &_md {}
    &_sm {}
    &_xs {}

    // types
    &_icon {
        line-height: 1em;
        height: 30px;
        width: 30px;
        padding: 0;

        .ico,
        .svg-wrap {
            margin: auto !important;
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
    }
    &_back {
        margin-left: 9px;

        &:before {
            transition: border-color 0.3s ease;
            border-bottom: 17px solid transparent;
            border-top: 17px solid transparent;
            border-right-style: solid;
            border-right-width: 9px;
            margin-bottom: auto;
            position: absolute;
            margin-top: auto;
            content: '';
            left: -9px;
            bottom: 0;
            top: 0;
        }
        &.btn_white {
            &:before {
                border-right-color: @White;
            }
            &:hover {
                &:before {
                    border-right-color: @White - 40%;
                }
            }
            &:focus {
                &:before {}
            }
            &:active {
                &:before {
                    border-right-color: @White - 60%;
                }
            }
        }
        &.btn_blue {
            &:before {
                border-right-color: @blue;
            }
            &:hover {
                &:before {
                    border-right-color: @blue + 20%;
                }
            }
            &:focus {
                &:before {}
            }
            &:active {
                &:before {
                    border-right-color: @blue + 30%;
                }
            }
        }
        &.btn_yellow {
            &:before {
                border-right-color: @yellow;
            }
            &:hover {
                &:before {
                    border-right-color: @yellow + 20%;
                }
            }
            &:focus {
                &:before {}
            }
            &:active {
                &:before {
                    border-right-color: @yellow + 30%;
                }
            }
        }
    }
}