include ../c-forms/c-forms

mixin c-set-store__images-tr(data)
	.c-set-store__images-tr
		.c-set-store__images-tc.tc-100
			span.c-set-store__images-tc-ttl=data.ttl
		.c-set-store__images-tc
			label.btn.btn_white
				input.hidden-input(type="file", accept=".jpg,.png")
				span Загрузить

mixin c-set-store__social-item(data)
	.c-set-store__social-item
		.c-set-store__social-item-label
			label(for=data.form_group.id)
				if (data.svg)
					+svg(data.svg)
				if (data.ico)
					i.ico(class=data.ico)
				span=data.name
		+form-group(data.form_group)

mixin c-set-store__links-item(data)
	.c-set-store__links-item
		.c-set-store__links-label
			label(for=data.form_group.id)
				+svg(data.svg)
				span=data.ttl
		+form-group(data.form_group)

mixin c-set-store(data)
	.c-set-store
		.c-set-store__ttl
			h3.h3=data.ttl
		if (data.tarif)
			.c-set-store__tarif
				.c-set-store__tarif-ttl
					span=data.tarif.ttl
				.c-set-store__tarif-info
					.c-set-store__tarif-icon
						+svg(data.tarif.svg)
					.c-set-store__tarif-name
						span=data.tarif.name
				.c-set-store__tarif-expired
						span=data.tarif.expired
				.c-set-store__tarif-btn-wrap
					a.btn.btn_white(href="#") Продлить
					a.btn.btn_white(href="#") Изменить
		if (data.info)
			.c-set-store__info
				form.form_check
					.c-set-store__info-ttl
						span=data.info.ttl
					.c-set-store__info-notice
						span=data.info.notice
					.row
						+form-group(data.info.form_group)
						+form-group(data.info.submit)
		if (data.images)
			.c-set-store__images
				.row
					.col-sm-12.col-xs-24
						.c-set-store__images-t
							each item in data.images.col1
								+c-set-store__images-tr(item)
					.col-sm-12.col-xs-24
						.c-set-store__images-t
							each item in data.images.col2
								+c-set-store__images-tr(item)
		if (data.contacts)
			.c-set-store__contacts
				form.form_check
					.c-set-store__contacts-ttl
						span=data.contacts.ttl
					.row
						if (data.contacts.address)
							+form-group(data.contacts.address)
						if (data.contacts.social)
							.col-sm-12.col-xs-24
								.c-set-store__social
									.c-set-store__social-ttl
										span=data.contacts.social.ttl
									.c-set-store__social-list
										each item in data.contacts.social.list
											+c-set-store__social-item(item)
						if (data.contacts.messagers)
							.col-sm-12.col-xs-24
								.c-set-store__messagers
									.c-set-store__messagers-ttl
										span=data.contacts.messagers.ttl
									+form-group(data.contacts.messagers.phone)
									.c-set-store__messagers-list
										ul.h-list
											each item in data.contacts.messagers.list
												li
													label.checkbox-label
														if (item.checked)
															input.hidden-input(type="checkbox", name=item.name, checked)
														else
															input.hidden-input(type="checkbox", name=item.name)
														span.checkbox-icon
														+svg(item.svg)
														span=item.ttl
						if (data.contacts.links)
							.col-xs-24
								.c-set-store__links
									.c-set-store__links-ttl
										span=data.contacts.links.ttl
									.c-set-store__links-list
										.row
											each item in data.contacts.links.list
												.col-sm-12.col-xs-24
													+c-set-store__links-item(item)
							.col-xs-24
								.form-footer
									button.btn.btn_blue(type="submit")
										span Сохранить
									button.btn.btn_white(type="button")
										span Отменить
		if (data.pages)
			.c-set-store__pages
				.c-set-store__pages-ttl
					span=data.pages.ttl
				.c-set-store__pages-list
					each item in data.pages.list
						.c-set-store__pages-item
							.c-set-store__pages-item-ttl
								span=item.ttl
							.c-set-store__pages-item-buttons
								each btn in item.buttons
									a.btn(class=btn.style,href="#")=btn.txt