include ../c-forms/c-forms

mixin c-add-ads(data)
	.c-add-ads
		.c-add-ads__ttl
			h3.h3=data.ttl
		.c-add-ads__back
			a.btn.btn_white.btn_back(href="#") Назад к настройкам магазина
		.c-add-ads__form
			form.form_check
				.c-add-ads__social
					.c-add-ads__social-ttl
						span=data.social.ttl
					.c-add-ads__social-checkboxes
						ul.h-list
							each item in data.social.list
								li
									label.checkbox-label
										if (item.checked)
											input.hidden-input(type="checkbox", name=item.name, checked="checked")
										else
											input.hidden-input(type="checkbox", name=item.name)
										span.checkbox-icon
										if (item.svg)
											+svg(item.svg)
										if (item.ico)
											i.ico(class=item.ico)
										span.checkbox-txt=item.txt
					.c-add-ads__social-tags
						.c-add-ads__social-tags-ttl
							span=data.social.tags_ttl
						+form-group(data.social.tags_form_group)
				.c-add-ads__inputs
					.row
						each item in data.inputs
							+form-group(item)
						.col-xs-24.c-add-ads__descr-col
							.c-add-ads__inputs-t
								.c-add-ads__inputs-tc.tc-100
									+form-group(data.descr.form_group)
								.c-add-ads__inputs-tc.tc-bottom
									.c-add-ads__emoji
										button.btn.btn_white.btn_icon(type="button")
											i.ico.ico-emoji
						+form-group(data.price_group)
						.col-xs-12.col-xx-24.c-add-ads__special-price-col
							.form-group.disabled
								label.form-group-ttl(for="set_special_price")
									span Цена со скидкой
								.c-add-ads__inputs-t
									.c-add-ads__inputs-tc.tc-middle
										label.checkbox-label
											input.hidden-input(type="checkbox", name='enable_special_price')
											span.checkbox-icon
									.c-add-ads__inputs-tc.tc-100
										.input-wrap
											input.form-control(type="text", name="set_special_price", placeholder='', value='', id="set_special_price")
						.col-xs-24.c-add-ads__file
							.form-group
								.form-group-ttl
									span Фотографии
								.form-group-notice
									span Можно загрузить фотографии весом до 10 Мб в формате .jpg или .png
								.input-wrap
									label.btn.btn_white.c-add-ads__file-trig
										input.hidden-input(type="file", name='attach_photo', accept=".png,.jpg")
						+form-group({
							'type':'submit',
							'btn_view_class':'btn_blue',
							'btn_text':'Добавить объявление'
						})