.c-add-ads {
	&__ttl {
		padding-bottom: 20px;

		h3,
		.h3 {
			line-height: 33px;
			font-weight: 400;
			font-size: 22px;
			color: #384149;
		}
	}
	&__back {
		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
		}
	}
	&__form {
		padding-top: 30px;
		max-width: 458px;
	}
	&__social {
		background-color: #f6f6f6;
		padding-bottom: 10px;
		padding-right: 15px;
		border-radius: 3px;
		padding-left: 15px;

		&-ttl {
			border-bottom: 1px solid #fff;
			padding-bottom: 11px;
			padding-top: 10px;
			line-height: 26px;
			font-weight: 400;
			font-size: 17px;
			color: #384149;
		}
		&-checkboxes {
			padding-top: 20px;

			ul {}
			li {
				display: inline-block;
				vertical-align: top;
				margin-bottom: 10px;

				&:not(:last-child) {
					margin-right: 17px;
				}
			}
			.icon,
			.ico {
				vertical-align: middle;
				display: inline-block;
				margin-right: 10px;
				margin-left: 9px;
			}
			.icon {
				font-size: 20px;
			}
		}
		&-tags {
			margin-right: -4px;
			margin-left: -6px;
			padding-top: 11px;

			&-ttl {
				padding-bottom: 5px;
				line-height: 22px;
				font-weight: 700;
				font-size: 12px;
				color: #384149;
			}
			&-entry {
				.form-group {
					margin-bottom: 0;
				}
				.form-control {
					line-height: 30px;
					font-weight: 400;
					font-size: 14px;
					padding: 14px;
					// height: 120px;
					color: @blue;
				}
			}
		}
	}
	&__inputs {
		padding-top: 30px;

		.row {
			margin-right: -10px;
			margin-left: -10px;

			& > * {
				padding-right: 10px;
				padding-left: 10px;
			}
		}
		.form-group {
			margin-bottom: 20px;
		}
		&-t {
			display: table;
			width: 100%;

			&c {
				display: table-cell;

				&.tc-100 {
					width: 100%;
				}
				&.tc-bottom {
					vertical-align: bottom;
				}
				&.tc-middle {
					vertical-align: middle;
				}
			}
		}
	}
	&__descr {
		&-col {
			margin-bottom: 20px;
		}

		.form-group {
			margin-bottom: 0;
		}
		.form-control {
			height: 100px;
		}
	}
	&__emoji {
		vertical-align: bottom;
		display: inline-block;
		margin-left: 20px;

		@media ( max-width: @screen-xx-max) {
			margin-left: 10px;
		}

		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
			display: block;
		}
	}
	&__special-price {
		&-col {
			.checkbox-label {
				margin-right: 10px;
			}
			.form-group-ttl {
				margin-bottom: 5px;
			}
		}
	}
	&__file {
		&-trig {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
			width: 38px;

			&:after,
			&:before {
				background-color: currentColor;
				position: absolute;
				margin: auto;
				content: '';
				bottom: 0;
				right: 0;
				left: 0;
				top: 0;
			}
			&:after {
				height: 8px;
				width: 2px;
			}
			&:before {
				height: 2px;
				width: 8px;
			}
		}
		.form-group-notice {
			padding-bottom: 5px;
		}
	}
	.form-footer {
		padding-bottom: 13px;
		text-align: right;
		padding-top: 7px;

		@media ( max-width: @screen-xx-max) {
			text-align: center;
		}
	}
}