mixin c-advantages__item(data)
	.c-advantages__item
		.c-advantages__item-icon
			+svg(data.svg_name)
		.c-advantages__item-txt
			span=data.txt

mixin c-advantages(data)
	.c-advantages
		.container
			.c-advantages__ttl
				h3.h3
					span.c-advantages__logo-wrap
						+svg('icon-logo')
						span.c-advantages__logo-txt магазины
					| 
					|#{data.ttl}
			.c-advantages__list
				.row
					each item in data.list
						.col-sm-8.col-xs-12.col-xx-24
							+c-advantages__item(item)