mixin c-store-head(data)
	.c-store-head
		.container
			.c-store-head__inner
				.c-store-head__t
					.c-store-head__tc-left
						.c-store-head__logo
							img(src=data.logo, alt="")
						.c-store-head__ttl
							if (data.ttl_icon)
								i.svg-wrap
									+svg('icon-check')
							h2.h2=data.ttl
					.c-store-head__tc-right
						.c-store-head__btn-wrap
							ul.h-list
								li: a.btn.btn_blue(href="#") О магазине
								li: a.btn.btn_blue(href="#") Сервис и информация
								li: a.btn.btn_blue(href="#") Контакты