mixin c-detail__ttl(data)
	.c-detail__ttl(class=data.custom_class ? data.custom_class : '')
		if (data.h1)
			h1.h1=data.ttl
		else
			span.h1=data.ttl
mixin c-detail(data)
	.c-detail
		.container
			.row
				.col-xs-24.hidden-md.hidden-lg
					+c-detail__ttl({
						'ttl':data.ttl
					})
				.col-md-12.col-xs-24
					.c-detail__gallery
						.c-detail__gallery-slider-wrap
							.c-detail__slider.js--slick
								each src in data.images
									.c-detail__slide
										.h-object-fit
											img(src=src, alt="")
						.c-detail__gallery-slider-nav-wrap
							.c-detail__nav-slider.js--slick
								each src in data.images
									.c-detail__nav-slide
										a.c-detail__nav-slide-inner(href="#")
											.h-object-fit
												img(src=src, alt="")
				.col-md-12.col-xs-24
					+c-detail__ttl({
						'custom_class':'hidden-xs hidden-sm',
						'h1':true,
						'ttl':data.ttl
					})
					.c-detail__header
						.c-detail__btn-wrap
							ul.h-list
								li
									a.btn.btn_white.btn_icon.js--add-to-fav(href="#")
										i.svg-wrap.icon-star
											+svg('icon-star')
								li
									a.btn.btn_white.btn_icon(href="#")
										i.svg-wrap.icon-share-2
											+svg('icon-share-2')
								li
									a.btn.btn_white.btn_icon(href="#")
										i.svg-wrap.icon-stat
											+svg('icon-stat')
								li
									a.btn.btn_white.btn_icon(href="#")
										i.svg-wrap.icon-complain
											+svg('icon-complain')
						.c-detail__date
							span=data.date
						.c-detail__place
							span=data.place
						a.btn.btn_white.btn_icon.c-detail__share(href="#")
							i.svg-wrap.icon-share
								+svg('icon-share')
					.c-detail__descr
						p!=data.descr
					.c-detail__footer
						.c-detail__price
							span!=data.price
						a.btn.btn_white(href="#") Предложить свою цену
						.c-detail__number
							span Номер объявления:
								| 
								b=data.number
					.c-detail__contacts
						.c-detail__contacts-t
							.c-detail__contacts-tc
									a.btn.btn_transparent.btn_blue.c-detail__author(href="#")=data.author
							.c-detail__contacts-tc
								button.btn.btn_blue(type="button") Показать телефон
							.c-detail__contacts-tc
								a.btn.btn_transparent.btn_blue(href="#") Отправить сообщение
