.c-search-results {
	&__sidebar {
		@media ( max-width: @screen-xs-max) {
			padding-bottom: 15px;
		}
	}
	&__list {
		padding-bottom: 30px;
	}
	&__item {
		border-bottom: 1px solid #f6f6f6;
		padding-bottom: 21px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&-t {
			@media ( min-width: @screen-md-min) {
				display: table;
				width: 100%;
			}
		}
		&-img {
			position: relative;
			margin-right: auto;
			margin-left: auto;
			overflow: hidden;
			width: 262px;

			@media ( min-width: @screen-md-min) {
				vertical-align: top;
				display: table-cell;
			}

			&:before {
				padding-bottom: 62.97709923664122%;
				visibility: hidden;
				display: block;
				content: '';
			}
		}
		&-slider {
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;

			.slick-prev,
			.slick-next {
				transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
				background-color: #fff;
				margin-bottom: auto;
				position: absolute;
				margin-top: auto;
				display: block;
				color: @blue;
				height: 30px;
				width: 20px;
				z-index: 3;
				bottom: 0;
				top: 0;

				&:not(.slick-disabled):hover {
					background-color: @blue;
					color: #fff;
				}
				&:focus {}
				&:active {}
				&.slick-disabled {
					pointer-events: none;
					cursor: default;
					opacity: 0.5;
				}

				&:before {
					border-bottom: 1px solid currentColor;
					border-right: 1px solid currentColor;
					position: absolute;
					display: block;
					margin: auto;
					content: '';
					height: 8px;
					width: 8px;
					bottom: 0;
					top: 0;
				}
			}
			.slick-prev {
				border-bottom-right-radius: 3px;
				border-top-right-radius: 3px;
				left: 0;

				&:before {
					transform: rotate(135deg);
					right: -4px;
					left: 0;
				}
			}
			.slick-next {
				border-bottom-left-radius: 3px;
				border-top-left-radius: 3px;
				right: 0;

				&:before {
					transform: rotate(-45deg);
					left: -4px;
					right: 0;
				}
			}
		}
		&-slide {
			position: relative;

			.h-object-fit {
				position: absolute;
				display: block;
				height: 100%;
				width: 100%;
				bottom: 0;
				right: 0;
				left: 0;
				top: 0;
			}
			&:before {
				padding-bottom: 62.97709923664122%;
				visibility: hidden;
				display: block;
				content: '';
			}
		}
		&-info {
			@media ( min-width: @screen-md-min) {
				vertical-align: top;
				display: table-cell;
				padding-left: 30px;
			}
			@media ( max-width: @screen-sm-max) {
				padding-top: 10px;
			}
		}
		&-ttl {
			padding-top: 1px;

			h4,
			.h4 {
				line-height: 28px;
				font-weight: 400;
				font-size: 20px;
			}
		}
		&-txt {
			padding-bottom: 15px;
			line-height: 23px;
			min-height: 100px;
			padding-top: 4px;
			color: #384149;
		}
		&-footer {
			display: table;
			width: 100%;
		}
		&-price {
			white-space: nowrap;
			vertical-align: top;
			display: table-cell;
			line-height: 20px;
			font-weight: 700;
			font-size: 16px;
			color: #384149;
		}
		&-signature {
			vertical-align: top;
			display: table-cell;
			padding-left: 15px;
			line-height: 22px;
			text-align: right;
			width: 100%;
		}
	}
}