include ../c-search-params/c-search-params
include ../c-sidebar-banner/c-sidebar-banner
include ../c-pagination/c-pagination

mixin c-search-results__item(data)
	.c-search-results__item
		.c-search-results__item-t
			.c-search-results__item-img
				.c-search-results__item-slider.js--slick
					each img_src in data.images
						.c-search-results__item-slide
							.h-object-fit
								img(src=img_src, alt="")
			.c-search-results__item-info
				.c-search-results__item-ttl
					h4.h4!=data.ttl
				.c-search-results__item-txt
					span!=data.txt
				.c-search-results__item-footer
					.c-search-results__item-price
						span!=data.price
					.c-search-results__item-signature
						span!=data.signature

mixin c-search-results(data)
	.c-search-results
		.container
			.row
				.col-sm-8.col-xs-24
					.c-search-results__sidebar
						if (data.params)
							+c-search-params(data.params)
						if (data.banner)
							+c-sidebar-banner(data.banner)
				.col-sm-16.col-xs-24
					if (data.list)
						.c-search-results__list
							each item in data.list
								+c-search-results__item(item)
						if (data.pagination)
							+c-pagination()