mixin header(data)
	- var logged_class = data.logged ? 'header_logged' : ''
	header.c-header(class=data.white_fixed ? 'c-header_white_fixed' + '' + logged_class : logged_class)
		.container
			.row
				.c-header__col-left(class=data.logged ? 'col-lg-10 col-md-7 col-sm-9' : 'col-md-12 col-sm-10')
					.c-header__t
						.c-header__logo-wrap
							a(href="#")
								.c-header__logo-icon
									if (data.white_fixed)
										+svg('icon-logo-monocolor','hidden-xs')
										+svg('icon-logo','visible-xs')
									else
										+svg('icon-logo')
								unless (data.logged)
									.c-header__logo-text.hidden-sm.hidden-xs
										span магазины
						.c-header__location
							button.c-header__location-trig.button-toggle(type="button", data-target-block=".c-header__location-drop")
								- var has_active = false
								each li in data.locations
									if (li.active)
										span=li.txt
										- has_active = true
								unless (has_active)
									span Город
								span.trig-caret
							.c-header__location-drop.minimized
								ul.h-list
									each li in data.locations
										li(class=li.active ? 'active' : ''): a(href="#")=li.txt
				.c-header__col-right(class=data.logged ? 'col-lg-14 col-md-17 col-sm-15' : 'col-md-12 col-sm-14')
					unless (data.logged)
						.c-header__btn-group
							ul.h-list
								li
									a.btn.btn_transparent(class=data.white_fixed ? 'btn_white' : 'btn_blue', href="#")
										span.btn-text.hidden-xs Вход
										span.svg-wrap.visible-xs
											+svg('icon-login')
								li
									a.btn.btn_transparent(class=data.white_fixed ? 'btn_white' : 'btn_blue', href="#")
										span.btn-text.hidden-xs Регистрация
										span.svg-wrap.visible-xs
											+svg('icon-register')
								li
									a.btn.c-header__add-declaration(class=data.white_fixed ? 'btn_white' : 'btn_blue', href="#modal-change-tarif", data-toggle="modal")
										span.btn-text.hidden-xs Добавить объявление
										span.svg-wrap.visible-xs
											+svg('icon-add')
					else
						button.c-header__login-group-trig.btn.btn_icon.btn_transparent.visible-xs.button-toggle(type="button", data-target-block=".c-header__login-group")
							i.svg-wrap
								+svg('icon-menu')
						.c-header__login-group.minimized
							a.btn.btn_blue.c-header__add-declaration(href="#modal-change-tarif", data-toggle="modal")
								span.btn-text.hidden-xs.hidden-sm Добавить объявление
								span.svg-wrap.hidden-lg.hidden-md
									i.svg-wrap
										+svg('icon-add')
							a.btn.btn_white.btn_icon.c-header__fav(href="#")
								i.svg-wrap
									+svg('icon-star')
							a.btn.btn_white.btn_icon.c-header__shop(href="#")
								i.svg-wrap
									+svg('icon-startup')
							.c-header__balance
								a.btn.btn_white.btn_icon.c-header__balance-btn(href="#")
									i.svg-wrap
										+svg('icon-cash')
								.c-header__balance-value
									span — 7 500 ₽
							.c-header__phone-wrap
								button.c-header__phone-trig.button-toggle(type="button", data-target-block=".c-header__phone-drop")
									span.trig-caret
								a.c-header__phone-main(href="tel:+79015355445") +7 901 535–54–45
								ul.h-list.c-header__phone-drop.minimized
									li: a(href="tel:+79015355445") +7 901 535–54–45
									li: a(href="tel:+79015355445") +7 901 535–54–45
									li: a(href="tel:+79015355445") +7 901 535–54–45