.c-alert {
	&:first-child {
		@media ( max-width: @screen-xs-max) {
			margin-top: 10px;
		}
	}
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	&__inner {
		background-color: rgba(246, 196, 31, 0.2);
		border-radius: 3px;
		position: relative;

		@media ( min-width: @screen-sm-min) {
			display: table;
			width: 100%;
		}
	}
	&__txt {
		padding-bottom: 10px;
		padding-left: 20px;
		padding-top: 13px;
		width: 100%;

		@media ( min-width: @screen-sm-min) {
			vertical-align: middle;
			padding-right: 10px;
			display: table-cell;
		}
		@media ( max-width: @screen-xs-max) {
			padding-right: 40px;
		}
	}
	&__btn-wrap {
		text-align: center;
		padding-top: 7px;

		@media ( min-width: @screen-sm-min) {
			vertical-align: top;
			display: table-cell;
			padding-bottom: 7px;
		}
		@media ( max-width: @screen-xs-max) {
			padding-bottom: 10px;
		}

		.btn {
			white-space: nowrap;
		}
	}
	&__close {
		position: relative;
		display: block;
		height: 16px;
		width: 16px;

		@media ( max-width: @screen-xs-max) {
			position: absolute;
			right: 14px;
			top: 16px;
		}

		&:after,
		&:before {
			background-color: currentColor;
			position: absolute;
			display: block;
			bottom: -10px;
			margin: auto;
			right: -10px;
			content: '';
			height: 1px;
			width: 20px;
			left: -10px;
			top: -10px;
		}
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}

		&-wrap {
			@media ( min-width: @screen-sm-min) {
				vertical-align: top;
				display: table-cell;
				padding-right: 14px;
				padding-left: 14px;
				padding-top: 16px;
			}
		}
	}
}