mixin c-alert(data)
	.c-alert.alert.alert-dismissible.fade.in(role="alert")
		.container
			.c-alert__inner
				.c-alert__txt
					span!=data.txt
				.c-alert__btn-wrap
					a.btn.btn_yellow(href="#")=data.btn_txt
				.c-alert__close-wrap
					button.c-alert__close(type="button" class="close" data-dismiss="alert" aria-label="Close")