mixin c-rating(data)
	.c-rating(class=data.custom_class ? data.custom_class + ' c-rating-' + data.value : 'c-rating-' + data.value)
		ul.h-list
			li: +svg('icon-star')
			li: +svg('icon-star')
			li: +svg('icon-star')
			li: +svg('icon-star')
			li: +svg('icon-star')