.generate-rating(@stars,@i:0) when (@i <= @stars){
	&&-@{i} {
		li {
			&:nth-child(-n+@{i}) {
				color: @blue;
			}
		}
	}
	.generate-rating(@stars,@i + 1)
}

.c-rating {
	.generate-rating(5);

	ul {
		white-space: nowrap;
	}
	li {
		transition: color 0.3s ease;
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		color: #fff;
	}
	.icon {
		display: block;
	}
}