include ../c-forms/c-forms
include ../c-rating/c-rating

mixin c-comments__item(data)
	.c-comments__item
		.c-comments__item-header
			.c-comments__item-avatar
				.h-object-fit
					img(src=data.avatar, alt="")
			.c-comments__item-info
				.c-comments__item-info-inner
					.c-comments__item-name
						span=data.name
					+c-rating({
						'custom_class':'c-comments__item-rating',
						'value': data.rating
					})
			.c-comments__item-date
				span=data.date
		.c-comments__item-msg
			p!=data.txt

mixin c-comments(data)
	.c-comments
		.c-comments__ttl
			h3.h3=data.ttl
		.c-comments__list
			each item in data.list
				+c-comments__item(item)
		.c-comments__form
			form
				.row
					+form-group({
						'type':'textarea',
						'textarea_size':'',
						'name':'user_msg',
						'placeholder':'Напишите отзыв',
						'value':''
					})
					+form-group({
						'type':'submit',
						'btn_view_class':'btn_blue',
						'btn_text':'Отправить'
					})