include ../c-forms/c-forms

mixin modal-change-tarif()
	#modal-change-tarif.modal-change-tarif.modal.fade.modal_centered(tabindex="-1")
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button" class="close" data-dismiss="modal")
					h4.modal-title Активно 100/100 объявлений
				.modal-body
					.current-tarif
						.current-tarif__ttl
							+svg('icon-startup')
							span Стартап
						.current-tarif__limit
							+svg('icon-bag')
							span — до 100 товаров
						.current-tarif__txt
							span Для публикации нового объявления, удалите одно из активных или смените тарифный план.
					.new-tarif
						.new-tarif__ttl
							+svg('icon-business')
							span Бизнес — 700 ₽ / месяц
						.new-tarif__descr
							span Весь функционал без ограничений
						.new-tarif__limit
							+svg('icon-bag')
							span — Товары без ограничений
						.new-tarif__footer
							a.btn.btn_blue(href="#") Выбрать тариф «Бизнес»

mixin modal-open-store__bonus-list(data)
	.modal-open-store__bonus-list
		.row
			each item in data.list
				.col-xs-8.col-xx-24
					.modal-open-store__bonus-item
						.modal-open-store__bonus-price
							.modal-open-store__bonus-price-old
								span!=item.price_old
							.modal-open-store__bonus-price-new
								span!=item.price_new
						.modal-open-store__bonus-icon
							+svg(item.svg)
						.modal-open-store__bonus-txt
							span!=item.txt

mixin modal-open-store()
	#modal-open-store.modal-open-store.modal.fade.modal_centered(tabindex="-1")
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button" class="close" data-dismiss="modal")
					h4.modal-title Открыть магазин
				.modal-body
					.modal-open-store__form
						form.form_check
							+form-group({
								'col_class':'modal-open-store__phone',
								'type':'tel',
								'placeholder':'Телефон',
								'mask':'+7 000 000-00-00',
								'name':'open_store_phone'
							})
							.modal-open-store__captcha
								img(src="s/images/tmp_file/captcha.jpg", alt="")
							.form-footer
								a.btn.btn_blue.btn_transparent.agreement(href="#") Пользовательское соглашение
								button.btn.btn_blue(type="submit") Зарегистрироваться
					.modal-open-store__have-account
						span Уже есть аккаунт?
						a.btn.btn_transparent.btn_blue(href="#") ВОЙТИ
				.modal-footer
					.modal-open-store__bonus
						.modal-open-store__bonus-ttl
							span.h4
								| После регистрации, вы получите пакет услуг —
								| 
								span бесплатно
								|!
						+modal-open-store__bonus-list({
							'list':[
								{
									'price_old':'300 ₽',
									'price_new':'Бесплатно',
									'svg':'icon-bonus-1',
									'txt':'Поднятие объявления в поиске'
								},
								{
									'price_old':'700 ₽',
									'price_new':'Бесплатно',
									'svg':'icon-bonus-2',
									'txt':'Выделение объявления'
								},
								{
									'price_old':'500 ₽',
									'price_new':'Бесплатно',
									'svg':'icon-bonus-3',
									'txt':'Фиксация объявления в категории'
								}
							]
						})