.modal {
	&-dialog {
		width: 751px;

		@media ( max-width: @screen-sm-max) {
			width: 700px;
		}
		@media ( max-width: @screen-xs-max) {
			width: auto;
		}
	}
	&-content {
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		border: none;
	}
	&-header {
		border-bottom: none;
		text-align: center;
		padding-top: 61px;
	}
	&-title {
		@media ( max-width: @screen-xs-max) {
			font-size: 19px;
		}
	}
	&-body {
		padding-top: 7px;
	}
	&-footer {
		border-top: none;
		padding: 0;
	}
	&-backdrop {
		background-color: @blue;

		&.in {
			opacity: 0.8;
		}
	}
	.close {
		position: absolute;
		display: block;
		color: #384149;
		height: 30px;
		z-index: 10;
		right: 20px;
		width: 30px;
		top: 22px;

		&:hover {
			&:before {
				transform: rotate(135deg);
			}
			&:after {
				transform: rotate(-135deg);
			}
		}
		&:focus {}
		&:active {}

		&:before,
		&:after {
			transition: transform 0.3s ease;
			background-color: currentColor;
			position: absolute;
			display: block;
			margin: auto;
			bottom: -10px;
			right: -10px;
			content: '';
			height: 2px;
			width: 40px;
			left: -10px;
			top: -10px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}
.current-tarif {
	text-align: center;

	&__ttl {
		vertical-align: middle;
		display: inline-block;
		margin-bottom: 10px;
		white-space: nowrap;
		margin-right: 20px;
		line-height: 26px;
		font-weight: 400;
		font-size: 17px;
		color: @blue;

		@media ( max-width: @screen-xs-max) {
			margin-right: 10px;
		}

		.icon {
			vertical-align: middle;
			display: inline-block;
			margin-right: 20px;
			font-size: 30px;

			@media ( max-width: @screen-xs-max) {
				margin-right: 10px;
			}
		}
		span {
			vertical-align: middle;
			display: inline-block;
		}
	}
	&__limit {
		vertical-align: middle;
		display: inline-block;
		margin-bottom: 10px;
		white-space: nowrap;

		.icon {
			vertical-align: middle;
			display: inline-block;
			margin-right: 7 px;
			font-size: 20px;
		}
		span {
			vertical-align: middle;
			display: inline-block;
		}
	}
	&__txt {
		padding-bottom: 29px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 41px;
		line-height: 28px;
		font-weight: 400;
		max-width: 600px;
		font-size: 20px;

		@media ( max-width: @screen-xs-max) {
			padding-top: 20px;
			line-height: 24px;
			font-size: 18px;
		}
	}
}
.new-tarif {
	background-color: #fdf3d2;
	padding-bottom: 30px;
	margin-bottom: 35px;
	padding-right: 15px;
	border-radius: 3px;
	margin-right: auto;
	padding-left: 15px;
	text-align: center;
	margin-left: auto;
	padding-top: 29px;
	max-width: 419px;

	@media ( max-width: @screen-xs-max) {
		margin-bottom: 15px;
	}
	@media ( max-width: @screen-xx-max) {
		margin-bottom: 0;
	}

	&__ttl {
		display: inline-block;
		position: relative;
		padding-left: 43px;
		line-height: 26px;
		padding-top: 3px;
		font-weight: 400;
		font-size: 17px;

		.icon {
			position: absolute;
			font-size: 28px;
			left: 0;
			top: 0;
		}
	}
	&__descr {
		padding-top: 14px;
		line-height: 22px;
		font-weight: 400;
		font-size: 14px;
		color: #0e0e0e;
	}
	&__limit {
		padding-top: 16px;

		.icon {
			vertical-align: middle;
			display: inline-block;
			margin-right: 7px;
			font-size: 20px;
		}
		span {
			vertical-align: middle;
			display: inline-block;
		}
	}
	&__footer {
		padding-top: 21px;

		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
		}
	}
}
.modal-change-tarif {}
.modal-open-store {
	&__form {
		margin-right: auto;
		padding-top: 19px;
		margin-left: auto;
		max-width: 420px;

		.form-group {
			margin-bottom: 20px;
		}
		.form-footer {
			padding-top: 30px;

			.btn {
				margin-bottom: 10px;

				&:not(:last-child) {
					margin-right: 6px;
				}
				&:not(.btn_transparent) {
					box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
				}
			}
			.agreement {
				text-transform: none;
				font-weight: 400;
			}
		}
	}
	&__phone {}
	&__captcha {}
	&__have-account {
		padding-bottom: 28px;
		text-align: center;
		padding-top: 34px;

		@media ( max-width: @screen-xs-max) {
			padding-bottom: 0;
			padding-top: 10px;
		}

		span {
			vertical-align: middle;
			display: inline-block;
			margin-right: 10px;
		}
		.btn {
			vertical-align: middle;
			display: inline-block;
		}
	}
	&__bonus {
		&-ttl {
			margin-right: auto;
			margin-left: auto;
			padding-top: 30px;
			max-width: 500px;

			h4,
			.h4 {
				line-height: 1.5em;
				font-weight: 400;
				font-size: 22px;

				@media ( max-width: @screen-xs-max) {
					font-size: 18px;
				}

				span {
					color: #f2b91a;
				}
			}
		}
		&-list {
			padding-bottom: 15px;
			margin-right: auto;
			margin-left: auto;
			padding-top: 23px;
			max-width: 555px;
		}
		&-item {
			padding-bottom: 15px;
		}
		&-price {
			padding-bottom: 9px;

			&-old {
				text-decoration: line-through;
				font-weight: 700;
				font-size: 12px;
				color: #d83b3b;
			}
			&-new {
				line-height: 22px;
				font-weight: 400;
				font-size: 12px;
			}
		}
		&-icon {
			.icon {
				font-size: 50px;
			}
		}
		&-txt {
			line-height: 23px;
			padding-top: 7px;
			font-weight: 400;
			font-size: 14px;
		}
	}
	.modal-footer {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		background-color: #384149;
		padding-right: 15px;
		padding-left: 15px;
		text-align: center;
		color: #fff;
	}
}