.c-sidebar-banner {
	border: 1px solid #f6f6f6;
	padding-right: 30px;
	border-radius: 3px;
	padding-left: 30px;
	padding-top: 29px;
	overflow: hidden;

	@media ( max-width: @screen-md-max) {
		padding-right: 20px;
		padding-left: 20px;
	}

	&:not(:first-child) {
		@media ( min-width: @screen-sm-min) {
			margin-top: 30px;
		}
		@media ( max-width: @screen-xs-max) {
			margin-top: 15px;
		}
	}

	&__ttl {
		line-height: 33px;
		font-weight: 700;
		font-size: 24px;
		color: #554f55;

		@media ( max-width: @screen-sm-max) {
			text-align: center;
			line-height: 22px;
			font-size: 18px;
		}
	}
	&__price {
		padding-top: 56px;

		@media ( max-width: @screen-sm-max) {
			text-align: center;
			padding-top: 20px;
		}

		&-old {
			vertical-align: middle;
			display: inline-block;
			position: relative;
			margin-right: 9px;
			margin-left: -7px;
			overflow: hidden;
			margin-top: 6px;
			font-size: 24px;
			color: #666166;
			padding: 7px;

			@media ( max-width: @screen-md-max) {
				margin-right: 5px;
				font-size: 22px;
			}
			@media ( max-width: @screen-sm-max) {
				margin-left: 0;
			}

			&:after {
				background-color: @yellow;
				transform:rotate(-12deg);
				position: absolute;
				display: block;
				bottom: -100%;
				right: -100%;
				margin: auto;
				content: '';
				height: 5px;
				width: 200%;
				left: -100%;
				top: -100%;
			}
		}
		&-new {
			vertical-align: middle;
			display: inline-block;
			margin-right: -20px;
			font-weight: 700;
			font-size: 48px;
			color: #adcc43;

			@media ( max-width: @screen-md-max) {
				font-size: 44px;
			}
			@media ( max-width: @screen-sm-max) {
				margin-right: 0;
			}
		}
	}
	&__txt {
		padding-bottom: 2px;
		padding-top: 16px;

		@media ( max-width: @screen-sm-max) {
			text-align: center;
		}
	}
	&__img {
		margin-right: -30px;
		margin-left: -30px;
		text-align: center;

		@media ( max-width: @screen-md-max) {
			margin-right: -20px;
			margin-left: -20px;
		}
	}
}