mixin c-sidebar-banner(data)
	.c-sidebar-banner(class=data.custom_class ? data.custom_class : '')
		.c-sidebar-banner__ttl
			span!=data.ttl
		if (data.price)
			.c-sidebar-banner__price
				.c-sidebar-banner__price-old
					span!=data.price.old
				.c-sidebar-banner__price-new
					span!=data.price.new
		if (data.txt)
			.c-sidebar-banner__txt
				span!=data.txt
		if (data.image)
			.c-sidebar-banner__img
				img(src=data.image, alt="")