.c-about {
	padding-top: 50px;

	@media ( max-width: @screen-xs-max) {
		padding-top: 15px;
	}

	&__ttl {
		padding-bottom: 15px;
		padding-top: 13px;

		h1,
		.h1 {
			font-size: 24px;
			color: #384149;
		}
	}
	&__rating {
		padding-bottom: 30px;
		padding-top: 3px;

		&-ttl {
			vertical-align: middle;
			display: inline-block;
			margin-right: 5px;
			line-height: 22px;
			font-weight: 700;
			font-size: 14px;
			color: #384149;
		}
		&-stars {
			vertical-align: middle;
			display: inline-block;
			margin-right: 17px;
		}
		&-descr {
			vertical-align: middle;
			display: inline-block;
			font-style: italic;
			line-height: 22px;
			font-size: 12px;
			color: #384149;
		}
	}
	&__content {
		padding-bottom: 30px;
		line-height: 22px;
		color: #384149;

		&-txt {}
		&-img {
			padding-bottom: 30px;
			padding-top: 10px;

			@media ( min-width: @screen-sm-min) {
				display: table;
				width: 100%;
			}
			@media ( max-width: @screen-xs-max) {
				text-align: center;
			}

			&-caption {
				font-style: italic;

				@media ( min-width: @screen-sm-min) {
					vertical-align: middle;
					display: table-cell;
					padding-right: 25px;
					width: 25.8%;
				}
				@media ( min-width: @screen-sm-min) and ( max-width: @screen-md-max) {
					width: 33.33333%;
				}
			}
			&-item {
				@media ( min-width: @screen-sm-min) {
					vertical-align: top;
					display: table-cell;
				}
				@media ( max-width: @screen-xs-max) {
					padding-top: 10px;
				}
			}
		}
	}
}