include ../c-sidebar-banner/c-sidebar-banner
include ../c-rating/c-rating
include ../c-comments/c-comments

mixin c-about(data)
	.c-about
		.container
			.row
				.col-md-16.col-xs-24
					.c-about__ttl
						h1.h1=data.ttl
					.c-about__rating
						.c-about__rating-ttl
							span=data.rating.ttl
						+c-rating({
							'custom_class':'c-about__rating-stars',
							'value': data.rating.value
						})
						.c-about__rating-descr
							span=data.rating.descr
					.c-about__content
						.c-about__content-txt!=data.txt_1
						.c-about__content-img
							.c-about__content-img-caption
								span=data.caption
							.c-about__content-img-item
								img(src=data.image, alt="")
						.c-about__content-txt!=data.txt_2
					if (data.comments)
						+c-comments(data.comments)
				.col-md-8.col-xs-24
					if (data.banner)
						+c-sidebar-banner(data.banner)