.c-contacts {
	padding-top: 50px;

	@media ( max-width: @screen-xs-max) {
		padding-top: 15px;
	}

	&__ttl {
		padding-bottom: 33px;
		padding-top: 13px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		h1,
		.h1 {
			font-size: 24px;
			color: #384149;
		}
	}
	&__data {
		padding-bottom: 10px;
		padding-top: 10px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		&-messegers {
			margin-top: 5px;
			font-size: 20px;

			@media ( min-width: @screen-sm-min) {
				vertical-align: middle;
				display: inline-block;
				margin-right: 16px;
			}
			@media ( max-width: @screen-xs-max) {
				margin-bottom: 10px;
			}

			ul {}
			li {
				display: inline-block;
				vertical-align: top;

				&.is-disabled {
					pointer-events: none;
					cursor: default;
					opacity: 0.2;
				}
				&:not(:last-child) {
					margin-right: 5px;
				}
			}
			span,
			a {
				display: block;

				&:hover {}
				&:focus {}
				&:active {}
			}
			.icon {
				display: block;
			}
		}
		&-phone {
			&-wrap {
				vertical-align: middle;
				display: inline-block;
			}
			&-number {
				vertical-align: middle;
				display: inline-block;
				margin-right: 16px;
				line-height: 33px;
				font-weight: 400;
				font-size: 22px;
				color: #000;

				@media ( max-width: @screen-xx-max) {
					padding-bottom: 10px;
					margin-right: 0;
					display: block;
				}
			}
			&-trig {
				box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
	&__social {
		padding-bottom: 4px;
		padding-top: 15px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		ul {}
		li {
			vertical-align: middle;
			display: inline-block;
			margin-bottom: 10px;

			&:not(:last-child) {
				margin-right: 26px;

				@media ( max-width: @screen-md-max) {
					margin-right: 15px;
				}
			}
		}
		a:not(.btn) {
			display: block;
			color: #384149;

			span {
				vertical-align: middle;
				display: inline-block;
			}

			.icon {
				font-size: 20px;
			}
		}
		.ico,
		.icon {
			vertical-align: middle;
			margin-right: 10px;
		}
		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
			font-size: 16px;
			color: #000;
		}
	}
	&__links {
		border-top: 1px solid #f6f6f6;
		padding-bottom: 34px;
		padding-top: 35px;
		max-width: 490px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
			margin-right: auto;
			margin-left: auto;
		}

		ul {}
		li {
			vertical-align: middle;
			display: inline-block;
			margin-bottom: 15px;

			&:not(:last-child) {
				margin-right: 26px;

				@media ( max-width: @screen-md-max) {
					margin-right: 15px;
				}
			}
		}
		a {
			display: block;
			color: #384149;

			span {
				vertical-align: middle;
				display: inline-block;
			}
		}
		.icon {
			vertical-align: middle;
			margin-right: 10px;
			font-size: 21px;
			color: @blue;
		}
	}
}