include ../c-sidebar-banner/c-sidebar-banner
include ../c-contact-map/c-contact-map

mixin c-contacts(data)
	.c-contacts
		.container
			.row
				.col-md-16.col-xs-24
					.c-contacts__ttl
						h1.h1=data.ttl
					if (data.contacts)
						.c-contacts__data
							if (data.contacts.messegers)
								.c-contacts__data-messegers
									ul.h-list
										each item in data.contacts.messegers
											li(class=item.disabled ? 'is-disabled' : '')
												unless (item.disabled)
													a(href="#")
														+svg(item.icon)
												else
													span
														+svg(item.icon)
							.c-contacts__data-phone-wrap.js--phone-wrap
								.c-contacts__data-phone-number
									span.js--phone-number(data-original-number=data.contacts.phone_original)=data.contacts.phone_visible
								button.c-contacts__data-phone-trig.btn.btn_white.js--phone-trig(type="button") Показать телефон
					if (data.social)
						.c-contacts__social
							ul.h-list
								each item in data.social
									li
										a(href="#")
											if (item.svg_name)
												+svg(item.svg_name)
											if (item.ico)
												i.ico(class=item.ico)
											if (item.txt)
												span=item.txt
								li
									a.btn.btn_white.btn_icon(href="#")
										i.svg-wrap.icon-share
											+svg('icon-share')
					if (data.links)
						.c-contacts__links
							ul.h-list
								each item in data.links
									li
										a(href="#")
											+svg(item.svg_name)
											span=item.txt
					if (data.map)
						+c-contact-map(data.map)
				.col-md-8.col-xs-24
					if (data.banner)
						+c-sidebar-banner(data.banner)