// @import (inline) '../../images/useful/svg/theme/style.css';
@import '../../../dist/s/images/useful/sprites/theme/theme-sprite';

.ico {
    vertical-align: middle;
    display: inline-block;
    position: relative;

    &.ico-emoji-bodybuilder {
        .sprite(@emoji-bodybuilder);
    }
    &.ico-emoji-laptop {
        .sprite(@emoji-laptop);
    }
    &.ico-emoji-medal-rus {
        .sprite(@emoji-medal-rus);
    }
    &.ico-emoji-medal-star {
        .sprite(@emoji-medal-star);
    }
    &.ico-emoji-muscle {
        .sprite(@emoji-muscle);
    }
    &.ico-emoji-swimsuit {
        .sprite(@emoji-swimsuit);
    }
    &.ico-inst {
        .sprite(@inst);
    }
    &.ico-emoji {
        .sprite(@emoji);
    }
}
.icon {
    display: inline-block;
    fill: currentColor;
    line-height: 1em;
    height: 1em;
    width: 1em;
}
.svg-wrap {
    display: inline-block;
    height: 1em;
    width: 1em;

    .icon {
        height: inherit;
        width: inherit;
        display: block;
    }
}
.svg-wrap,
.icon {
    &.icon-logo,
    &.icon-logo-monocolor {
        width: 2.456521739130435em;
    }
    &.icon-add {
        width: 0.958308981102669em;
    }
    &.icon-login {
        width: 1.185185185185185em;
    }
    &.icon-register {
        width: 1.274265803882529em;
    }
    &.icon-adv-1 {
        width: 1.095238095238095em;
    }
    &.icon-adv-2 {
        width: 1.020408163265306em;
    }
    &.icon-adv-3 {
        width: 2.41304347826087em;
    }
    &.icon-adv-5 {
        width: 0.9282700421940928em;
    }
    &.icon-adv-6 {
        width: 0.8333333333333333em;
    }
    &.icon-business {
        width: 1.136363636363636em;
    }
    &.icon-startup {
        width: 1.042654028436019em;
    }
    &.icon-fast-start {
        width: 0.9722222222222222em;
    }
    &.icon-bag {
        width: 0.895em;
    }
    &.icon-pointer {
        width: 0.7em;
    }
    &.icon-share {
        width: 0.875em;
    }
    &.icon-star {
        width: 1.042944785276074em;
    }
    &.icon-stat {
        width: 1.538461538461538em;
    }
    &.icon-share-2 {
        width: 0.73em;
    }
    &.icon-cash {
        width: 0.98em;
    }
    &.icon-back {
        width: 1.227895392278954em;
    }
    &.icon-bonus-1,
    &.icon-bonus-2,
    &.icon-bonus-3 {
        width: 1.792079207920792em;
    }
}