mixin c-set-tarif__item(data)
	.c-set-tarif__item(class=data.active ? 'active' : '')
		.c-set-tarif__item-header
			if (data.svg_name)
				.c-set-tarif__item-icon
					+svg(data.svg_name)
			.c-set-tarif__item-ttl
				h4.h4=data.ttl
			if (data.active)
				.c-set-tarif__item-current
					span Текущий тариф. Истекает через 25 дней.
		.c-set-tarif__item-price
			span!=data.price
		.c-set-tarif__item-body
			.c-set-tarif__item-descr
				span!=data.descr
			.c-set-tarif__item-limit
				+svg('icon-bag')
				span!=data.limit
		.c-set-tarif__item-footer
			a.btn.btn_blue(href="#")=data.btn_text

mixin c-set-tarif(data)
	.c-set-tarif
		.c-set-tarif__ttl
			h3.h3=data.ttl
		.c-set-tarif__back
			a.btn.btn_white.btn_back(href="#") Назад к настройкам магазина
		.c-set-tarif__list
			each item in data.list
				+c-set-tarif__item(item)
