mixin c-commerce(data)
	.c-commerce
		.container
			.row
				.col-lg-8.col-md-10.col-xs-24
					if (data.top_images)
						.c-commerce__top-img
							ul.h-list
								each src in data.top_images
									li: a(href="#"): img(src=src, alt="")
					.c-commerce__ttl
						h3.h3=data.ttl
					.c-commerce__txt!=data.txt

				.col-lg-16.col-md-14.col-xs-24
					if (data.images)
						.c-commerce__images
							ul.h-list
								each src in data.images
									li: img(src=src, alt="")