.c-commerce {
	background-color: #f5f8f9;
	padding-bottom: 100px;
	padding-top: 100px;

	@media ( max-width: @screen-sm-max) {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	&__top-img {
		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		ul {}
		li {
			display: inline-block;
			vertical-align: top;

			&:not(:last-child) {
				margin-right: 16px;
			}
		}
		a {
			display: block;

			&:hover {}
			&:focus {}
			&:active {}
		}
	}
	&__ttl {
		padding-bottom: 22px;
		padding-top: 23px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		h3,
		.h3 {
			font-weight: 400;
			font-size: 24px;
		}
	}
	&__txt {
		line-height: 25px;
		font-weight: 400;
		font-size: 16px;

		@media ( max-width: @screen-xs-max) {
			line-height: 20px;
			font-size: 14px;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 25px;

				@media ( max-width: @screen-xs-max) {
					margin-bottom: 20px;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__images {
		@media ( min-width: @screen-md-min) {
			margin-left: -15px;
		}
		@media ( max-width: @screen-sm-max) {
			padding-top: 30px;
		}

		ul {}
		li {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		img {}
	}
}