mixin c-tarifs__item(data)
	.c-tarifs__item(class=data.special ? 'c-tarifs__item_special' : '')
		.c-tarifs__item-icon
			+svg(data.icon)
		.c-tarifs__item-ttl
			h4.h4=data.ttl
		.c-tarifs__item-price
			span!=data.price
		.c-tarifs__item-descr
			span!=data.descr
		.c-tarifs__item-limit
			+svg('icon-bag')
			span=data.limit
		.c-tarifs__item-btn-wrap
			a.btn(class=data.btn_style ? data.btn_style : '', href="#modal-open-store", data-toggle="modal")=data.btn_text
		if (data.special)
			.c-tarifs__item-special-footer
				span=data.special_txt

mixin c-tarifs(data)
	.c-tarifs
		.container
			.c-tarifs__ttl
				h3.h3=data.ttl
			.c-tarifs__list
				.row
					each item in data.list
						.col-sm-8.col-xs-24
							+c-tarifs__item(item)