.c-advantages {
	padding-bottom: 29px;
	padding-top: 111px;

	@media ( max-width: @screen-sm-max) {
		padding-top: 70px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 10px;
		padding-top: 30px;
	}

	&__ttl {
		padding-bottom: 60px;
		text-align: center;

		@media ( max-width: @screen-xs-max) {
			padding-bottom: 30px;
		}

		h3,
		.h3 {
			line-height: 40px;
			font-weight: 400;
			font-size: 20px;

			@media ( max-width: @screen-md-max) {
				font-size: 19px;
			}
			@media ( max-width: @screen-xs-max) {
				line-height: 1.4em;
				font-size: 18px;
			}
		}
		.icon {
			vertical-align: middle;
			display: inline-block;
			font-size: 46px;
		}
	}
	&__logo-wrap {
		display: inline-block;
		vertical-align: top;
		margin-top: -2px;

		@media ( max-width: @screen-xs-max) {
			margin-bottom: 5px;
			display: block;
		}
	}
	&__logo-txt {
		font-family: 'qanelas';
		vertical-align: middle;
		display: inline-block;
		margin-bottom: 2px;
		margin-left: 12px;
		font-weight: 500;
		line-height: 1em;
		font-size: 24px;
	}
	&__list {
		text-align: center;

		.row {
			> * {
				display: inline-block;
				margin-right: -0.15em;
				margin-left: -0.15em;
				vertical-align: top;
				float: none;
			}
		}
	}
	&__item {
		margin-bottom: 71px;

		@media ( max-width: @screen-sm-max) {
			margin-bottom: 40px;
		}

		&-icon {
			margin-bottom: 7px;
			height: 70px;

			@media ( max-width: @screen-xs-max) {
				margin-bottom: 0;
				height: 60px;
			}

			.icon-adv-1 {
				margin-top: 2px;
				font-size: 42px;
			}
			.icon-adv-2 {
				font-size: 49px;
			}
			.icon-adv-3 {
				font-size: 46px;
			}
			.icon-adv-4 {
				font-size: 48px;
			}
			.icon-adv-5 {
				font-size: 47px;
			}
			.icon-adv-6 {
				font-size: 48px;
			}
		}
		&-txt {
			line-height: 22px;
			font-size: 14px;
		}
	}
}