.c-breadcrumbs {
	padding-bottom: 34px;
	padding-top: 33px;

	&:first-child {
		@media ( min-width: @screen-sm-min) {
			padding-bottom: 24px;
			padding-top: 3px;
		}
	}

	@media ( max-width: @screen-xs-max) {
		padding-bottom: 15px;
		padding-top: 15px;
	}

	ul {
		.after;
	}
	li {
		position: relative;
		color: #384149;
		float: left;

		@media ( max-width: @screen-xs-max) {
			padding-left: 10px;
		}

		& > span {
			color: #384149;
		}
		&:not(:last-child) {
			margin-right: 30px;

			@media ( max-width: @screen-xs-max) {
				margin-right: 0;
			}

			&:after {
				@media ( min-width: @screen-sm-min) {
					position: absolute;
					display: block;
					content: '/';
					right: -17px;
					top: 1px;
				}
				@media ( max-width: @screen-xs-max) {
					border-bottom: 1px solid currentColor;
					border-left: 1px solid currentColor;
					transform: rotate(45deg);
					position: absolute;
					display: block;
					content: '';
					height: 8px;
					width: 8px;
					top: 5px;
					left: 0;
				}
			}
		}
		&:not(:nth-last-child(2)) {
			@media ( max-width: @screen-xs-max) {
				display: none;
			}
		}
	}
	a {
		transition: color 0.3s ease;
		text-decoration: underline;
		color: #384149;

		&:hover {
			text-decoration: none;
			color: @blue;
		}
		&:focus {
			text-decoration: underline;
			color: #384149;
		}
		&:active {
			text-decoration: none;
		}
	}
}