.c-contact-map {
	position: relative;

	&__address {
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		padding-bottom: 23px;
		padding-right: 21px;
		padding-left: 57px;
		position: absolute;
		padding-top: 26px;
		font-weight: 700;
		max-width: 100%;
		z-index: 2;
		left: 0;
		top: 0;

		@media ( max-width: @screen-xs-max) {
			position: relative;
		}

		.icon {
			position: absolute;
			font-size: 30px;
			display: block;
			left: 20px;
			top: 20px;
		}
	}
	&__item {
		height: 500px;

		@media ( max-width: @screen-xs-max) {
			height: 200px;
		}
	}
}
.map-point {
	box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.38);
	background-color: @blue;
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	height: 20px;
	width: 20px;
}