.c-comments {
	border: 1px solid #dde0e3;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 3px;
	padding-top: 20px;

	&__ttl {
		h3,
		.h3 {
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}

		@media ( max-width: @screen-xx-max) {
			text-align: center;
		}
	}
	&__list {
		padding-bottom: 50px;
		padding-top: 40px;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		&-header {
			display: table;
			width: 100%;

			@media ( max-width: @screen-xx-max) {
				text-align: center;
				display: block;
				width: auto;
			}
		}
		&-avatar {
			display: table-cell;
			vertical-align: top;
			width: 60px;

			@media ( max-width: @screen-xx-max) {
				margin-right: auto;
				margin-left: auto;
				display: block;
			}

			.h-object-fit {
				border-radius: 50%;
				overflow: hidden;
				height: 60px;
				width: 60px;
			}
		}
		&-info {
			vertical-align: middle;
			display: table-cell;
			width: 100%;

			@media ( max-width: @screen-xx-max) {
				display: block;
				width: auto;
			}

			&-inner {
				vertical-align: middle;
				display: inline-block;
				padding-left: 20px;
				width: 100%;

				@media ( max-width: @screen-xs-max) {
					padding-left: 0;
					display: block;
					width: auto;
				}
			}
		}
		&-name {
			padding-bottom: 4px;
			line-height: 26px;
			font-weight: 400;
			font-size: 17px;
			color: #384149;
		}
		&-rating {}
		&-date {
			vertical-align: bottom;
			display: table-cell;
			white-space: nowrap;
			padding-bottom: 4px;
			text-align: right;
			line-height: 22px;
			font-weight: 700;
			font-size: 14px;
			color: #384149;

			@media ( max-width: @screen-xx-max) {
				text-align: center;
				margin-top: 4px;
				display: block;
				width: auto;
			}
		}
		&-msg {
			border-bottom: 1px solid #f6f6f6;
			padding-bottom: 20px;
			line-height: 22px;
			padding-top: 20px;
			font-weight: 400;
			font-size: 14px;
			color: #384149;

			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&__form {
		.form-footer {
			text-align: right;
		}
	}
}