.c-detail {
	padding-top: 50px;

	&__ttl {
		padding-bottom: 13px;
		padding-top: 13px;

		@media ( max-width: @screen-sm-max) {
			padding-bottom: 20px;
			padding-top: 0;
		}
		
		h1,
		.h1 {
			font-weight: 400;
			font-size: 24px;
			color: #384149;
		}
	}
	&__header {
		padding-bottom: 28px;
		padding-top: 19px;
		.after();
	}
	&__btn-wrap {
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;

		@media ( max-width: @screen-xx-max) {
			margin-right: 0;
			display: block;
		}

		ul {
			display: block;
		}
		li {
			display: inline-block;
			vertical-align: top;

			&:not(:last-child) {
				margin-right: 17px;
			}
		}

		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

			&.js--add-to-fav {
				.svg-wrap {
					color: transparent;
				}
				&.is-active {
					.svg-wrap {
						color: @blue;
					}
				}
			}
			.svg-wrap {
				position: absolute;
				display: block;
				margin: auto;
				bottom: 0;
				right: 0;
				left: 0;
				top: 0;

				.icon {
					display: block;
				}

				&.icon-stat {
					font-size: 13px;
				}
				&.icon-star {
					font-size: 19px;
				}
				&.icon-share-2 {
					font-size: 20px;
				}
				&.icon-complain {
					font-size: 20px;
				}
			}
		}
	}
	&__date {
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
		padding-top: 9px;
	}
	&__place {
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
		padding-top: 9px;
	}
	&__share {
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
		display: block;
		float: right;

		.svg-wrap {
			position: absolute;
			font-size: 16px;
			display: block;
			color: #0e0e0e;
			margin: auto;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
	}
	&__descr {
		line-height: 22px;
		font-weight: 400;
		font-size: 14px;
		color: #384149;
	}
	&__footer {
		padding-bottom: 28px;
		padding-top: 15px;

		.btn {
			vertical-align: middle;
		}
	}
	&__price {
		vertical-align: middle;
		display: inline-block;
		margin-right: 6px;
		font-weight: 700;
		font-size: 24px;
		color: #384149;
	}
	&__number {
		vertical-align: middle;
		display: inline-block;

		@media ( min-width: @screen-md-min) and ( max-width: @screen-md-max) {
			margin-top: 10px;
			display: block;
		}
		@media ( max-width: @screen-xs-max) {
			margin-top: 10px;
			display: block;
		}
	}
	&__contacts {
		background-color: #f5fbff;
		padding-bottom: 8px;
		padding-right: 20px;
		border-radius: 3px;
		padding-left: 20px;
		padding-top: 17px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		&-t {
			@media ( min-width: @screen-lg-min) {
				display: table;
				width: 100%;
			}
			@media ( min-width: @screen-md-min) and ( max-width: @screen-md-max) {
				.after();
			}
			@media ( min-width: @screen-sm-min) and ( max-width: @screen-sm-max) {
				display: table;
				width: 100%;
			}
			&c {
				@media ( min-width: @screen-lg-min) {
					vertical-align: middle;
					display: table-cell;
				}
				@media ( min-width: @screen-sm-min) and ( max-width: @screen-sm-max) {
					vertical-align: middle;
					display: table-cell;
				}

				&:nth-child(1) {
					@media ( min-width: @screen-lg-min) {
						text-align: left;
						width: 26%;
					}
					@media ( min-width: @screen-md-min) and ( max-width: @screen-md-max) {
						float: left;
						width: 100%;
					}
					@media ( min-width: @screen-sm-min) and ( max-width: @screen-sm-max) {
						text-align: left;
						width: 26%;
					}
				}
				&:nth-child(2) {
					@media ( min-width: @screen-lg-min) {
						text-align: center;
					}
					@media ( min-width: @screen-md-min) and ( max-width: @screen-md-max) {
						float: left;
						width: 50%;
					}
					@media ( min-width: @screen-sm-min) and ( max-width: @screen-sm-max) {
						text-align: center;
					}
					@media ( max-width: @screen-xs-max) {
						display: inline;
					}
				}
				&:nth-child(3) {
					@media ( min-width: @screen-lg-min) {
						text-align: right;
					}
					@media ( min-width: @screen-md-min) and ( max-width: @screen-md-max) {
						text-align: right;
						float: left;
						width: 50%;
					}
					@media ( min-width: @screen-sm-min) and ( max-width: @screen-sm-max) {
						text-align: right;
					}
					@media ( max-width: @screen-xs-max) {
						display: inline;
					}
				}
			}
		}

		.btn {
			margin-bottom: 10px;

			@media ( max-width: @screen-xs-max) {
				margin-left: 5px;
				margin: 5px;
			}
		}
	}
	&__gallery {
		@media ( max-width: @screen-sm-max) {
			padding-bottom: 15px;
		}

		&-slider-wrap {
			// position: relative;
			// &:before {
			// 	padding-bottom: 62.94964028776978%;
			// 	visibility: hidden;
			// 	display: block;
			// 	content: '';
			// }
		}
		&-slider-nav-wrap {
			margin-right: -15px;
			margin-left: -15px;
			margin-top: 30px;
		}
	}
	&__slider {
		transition: opacity 0.3s ease, visibility 0.3s ease;

		&:not(.slick-initialized){
			pointer-events: none;
			visibility: hidden;
			overflow: hidden;
			height: 350px;
			opacity: 0;

			@media ( max-width: @screen-md-max) {
				height: 287px;
			}
			@media ( max-width: @screen-sm-max) {
				height: 453px;
			}
		}

		.slick-prev,
		.slick-next {
			transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
			background-color: #fff;
			margin-bottom: auto;
			position: absolute;
			margin-top: auto;
			display: block;
			color: @blue;
			height: 30px;
			width: 20px;
			z-index: 3;
			bottom: 0;
			top: 0;

			&:not(.slick-disabled):hover {
				background-color: @blue;
				color: #fff;
			}
			&:focus {}
			&:active {}
			&.slick-disabled {
				pointer-events: none;
				cursor: default;
				opacity: 0.5;
			}

			&:before {
				border-bottom: 1px solid currentColor;
				border-right: 1px solid currentColor;
				position: absolute;
				display: block;
				margin: auto;
				content: '';
				height: 8px;
				width: 8px;
				bottom: 0;
				top: 0;
			}
		}
		.slick-prev {
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
			left: 0;

			&:before {
				transform: rotate(135deg);
				right: -4px;
				left: 0;
			}
		}
		.slick-next {
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
			right: 0;

			&:before {
				transform: rotate(-45deg);
				left: -4px;
				right: 0;
			}
		}
	}
	&__slide {
		position: relative;

		.h-object-fit {
			position: absolute;
			height: 100%;
			width: 100%;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
		&:before {
			padding-bottom: 62.94964028776978%;
			visibility: hidden;
			display: block;
			content: '';
		}
	}
	&__nav-slider {
		transition: opacity 0.3s ease, visibility 0.3s ease;

		&:not(.slick-initialized){
			pointer-events: none;
			visibility: hidden;
			overflow: hidden;
			height: 50px;
			opacity: 0;

			@media ( max-width: @screen-sm-max) {
				height: 70px;
			}
		}
	}
	&__nav-slide {
		padding-right: 15px;
		padding-left: 15px;

		&-inner {
			position: relative;
			display: block;

			&:before {
				padding-bottom: 73.52941176470588%;
				visibility: hidden;
				display: block;
				content: '';
			}
		}

		.h-object-fit {
			position: absolute;
			height: 100%;
			width: 100%;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
	}
}