.c-faq {
	padding-top: 52px;

	&__ttl {
		padding-bottom: 12px;

		h3,
		.h3 {
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
	}
	&__questions {
		.panel {
			&:not(:last-child) {
				margin-bottom: 14px;
			}
			&-heading {
				line-height: 23px;

				a {
					&:hover {}
					&:focus {}
					&:active {}
				}
			}
			&-collapse {
				&.collapse {}
				&:not(.collapse) {}
				&.in {}
				&.opened_default {}
			}
			&-body {}
		}
	}
	&__answer {
		padding-bottom: 9px;
		line-height: 22px;
		font-weight: 400;
		padding-top: 9px;
		font-size: 14px;
		color: #384149;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}