.form-control {
	border-color: #e0e0e0;
	padding-right: 19px;
	padding-left: 19px;
	border-radius: 3px;
	box-shadow: none;
	font-size: 14px;
	color: #333;

	&::placeholder{
		transition: opacity 0.3s ease;
		opacity: 1;
	}
	&:hover {
		box-shadow: none;
	}
	&:focus {
		box-shadow: none;

		&::placeholder{
			opacity: 0;
		}
	}
	&:active {
		box-shadow: none;
	}
	&.error {
		background-color: #fdd3d3 !important;
		border-color: #ff0000 !important;
	}

	input& {
		height: 35px;
	}
	&[contenteditable="true"],
	textarea& {
		padding-left: 12px;
		padding-top: 11px;
		height: 103px;
		resize: none;
	}
	&[contenteditable="true"] {
		min-height: 103px;
		overflow-y: auto;
		height: auto;
	}
}
.form-group {
	margin-bottom: 10px;

	&-ttl {
		display: inline-block;
		line-height: 22px;
		font-weight: 700;
		font-size: 12px;
		color: #384149;

		+ .select-wrap,
		+ .input-wrap {
			margin-top: 5px;
		}
	}
	&-notice {
		line-height: 18px;
		font-weight: 400;
		font-size: 12px;
		color: #384149;

		+ .select-wrap,
		+ .input-wrap {
			margin-top: 7px;
		}
	}
	&.disabled {
		.form-group-ttl {
			pointer-events: none;
			cursor: default;
			color: #a6aaad;
		}
		.form-control {
			pointer-events: none;
			cursor: default;
			opacity: 0.5;
		}
	}
}
.form-footer {
	text-align: center;
	padding-top: 10px;
}
.select-wrap {
	position: relative;
	min-height: 35px;

	&.select_input-style {
		min-height: 35px;
	}
}

.bootstrap-select {
	&:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: auto;

		.select_input-style & {
			width: 100%;
		}
	}
	&.btn-group.open .dropdown-toggle {
		box-shadow: none !important;
		outline: none !important;
	}
	& > .dropdown-toggle {
		text-transform: none;
		padding-bottom: 10px;
		padding-right: 23px;
		padding-left: 15px;
		position: relative;
		padding-top: 10px;
		background: none;
		line-height: 1em;
		height: 35px;

		.select_input-style & {
			border: 1px solid #e0e0e0;
			padding-top: 10px;
			height: 35px;
		}

		&.dropdown-toggle,
		&.bs-placeholder {
			&,
			&:hover,
			&:focus,
			&:active {
				box-shadow: none !important;
				outline: none !important;
				font-weight: 400;
				color: #333;
			}
		}
	}
	.dropdown-menu {
		& > li {
			& > a {
				padding-bottom: 8px;
				padding-right: 15px;
				padding-left: 15px;
				padding-top: 8px;
			}
		}
	}
}
.bs-caret {
	margin-bottom: auto;
	position: absolute;
	margin-top: auto;
	height: 20px;
	width: 20px;
	bottom: 0;
	right: 0;
	top: 0;

	.select_input-style & {
		right: 6px;
	}

	.caret {
		&,
		.bootstrap-select.btn-group .dropdown-toggle & {
			border-bottom: 1px solid @blue;
			border-right: 1px solid @blue;
			transform: rotate(45deg);
			position: absolute;
			border-left: none;
			border-top: none;
			margin: auto;
			height: 8px;
			width: 8px;
			bottom: 0;
			top: -5px;
			right: 0;
			left: 0;

			.select_input-style & {
				border-bottom-color: @blue;
				border-right-color: @blue;
			}
		}
	}
}
label {
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
}
.hidden-input {
    visibility: hidden !important;
	position: absolute !important;
	z-index: -1 !important;
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    left: 0 !important;
    top: 0 !important;
}
.checkbox-label {
	position: relative;
	padding-left: 20px;
	min-height: 20px;
}
.checkbox-icon {
	box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
	background-color: #f6f6f6;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	position: absolute;
	display: block;
	color: @blue;
	height: 20px;
	width: 20px;
	left: 0;
	top: 0;

	&:before {
		transition: opacity 0.3s ease, top 0.3s ease;
		border-bottom: 2px solid currentColor;
		border-right: 2px solid currentColor;
		transform: rotate(38deg);
		position: absolute;
		display: block;
		margin: auto;
		height: 12px;
		content: '';
		opacity: 0;
		width: 5px;
		top: -12px;
		bottom: 0;
		right: 0;
		left: 0;
	}
	input:checked ~ & {
		box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);

		&:before {
			opacity: 1;
			top: -2px;
		}
	}
}
.checkbox-txt {
	vertical-align: middle;
	display: inline-block;
}
input.js-selectize {
	visibility: hidden;
	min-height: 30px;
	width: 100%;
}