.c-pagination {
	text-align: center;

	ul {
		text-transform: uppercase;
		display: inline-block;
		vertical-align: top;
		font-weight: 600;
		font-size: 14px;
		.after();
	}
	li {
		float: left;

		&.active {
			pointer-events: none;
			cursor: default;
		}
	}
	span {
		background-color: @blue;
		border-radius: 3px;
		padding-right: 4px;
		padding-left: 4px;
		line-height: 30px;
		min-width: 30px;
		display: block;
		color: #fff;
	}
	a {
		color: @blue !important;
		line-height: 30px;
		min-width: 26px;
		display: block;

		&:hover {}
		&:focus {}
		&:active {}
	}
}