.c-search-params {
	background-color: #f5fbff;
	padding-bottom: 16px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 21px;

	&__ttl {
		padding-bottom: 20px;
		line-height: 28px;
		font-weight: 400;
		font-size: 20px;

		@media ( max-width: @screen-sm-max) {
			font-size: 18px;
		}
	}
	&__item {
		.bootstrap-select > .dropdown-toggle {
			background-color: #fff;
		}
	}
	.form-group {
		margin-bottom: 14px;
	}
}