.c-set-tarif {
	&__ttl {
		padding-bottom: 20px;

		h3,
		.h3 {
			line-height: 33px;
			font-weight: 400;
			font-size: 22px;
			color: #384149;
		}
	}
	&__back {
		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
		}
	}
	&__list {
		padding-top: 30px;
	}
	&__item {
		border: 1px solid #dde0e3;
		border-radius: 3px;
		padding: 30px;

		@media ( max-width: @screen-xs-max) {
			padding: 20px;
		}
		@media ( max-width: @screen-xx-max) {
			padding: 15px;
		}

		&.active {
			border-color: @blue;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}

		&-header {
			padding-bottom: 15px;
			position: relative;
		}
		&-icon {
			position: absolute;
			font-size: 28px;
			display: block;
			left: 0;
			top: 0;

			.c-set-tarif__item.active & {
				color: @blue;
			}
			+ .c-set-tarif__item-ttl {
				padding-left: 42px;
			}
		}
		&-ttl {
			display: inline-block;
			padding-bottom: 8px;
			margin-right: 12px;

			h4,
			.h4 {
				line-height: 26px;
				font-weight: 400;
				font-size: 17px;
				color: #0e0e0e;

				.c-set-tarif__item.active & {
					color: @blue;
				}
			}
		}
		&-current {
			display: inline-block;
			line-height: 22px;
			font-weight: 400;
			font-size: 14px;
			color: #384149;
		}
		&-price {
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
		&-body {
			padding-bottom: 26px;
			padding-top: 10px;
		}
		&-descr {
			display: inline-block;
			margin-right: 28px;
			line-height: 25px;
			font-weight: 400;
			font-size: 16px;
			color: #384149;
		}
		&-limit {
			display: inline-block;
			line-height: 22px;
			font-weight: 400;
			font-size: 14px;

			.icon {
				margin-bottom: -2px;
				margin-right: 7px;
				font-size: 20px;
			}
			span {
				position: relative;
				top: -3px;
			}
		}
		&-footer {
			padding-bottom: 2px;

			.btn {
				padding-bottom: 8px;
				line-height: 1.2em;
				text-align: center;
				padding-top: 9px;
				height: auto;
			}
		}
	}
}