.c-search {
	margin-bottom: 30px;

	@media ( max-width: @screen-xs-max) {
		margin-bottom: 15px;
	}

	&__form {
		background-color: rgba(245, 251, 255, 0.85);
		border-radius: 3px;
		padding: 30px;

		@media ( max-width: @screen-xs-max) {
			padding: 15px;
		}

		&-t {
			@media ( min-width: @screen-sm-min) {
				background-color: #fff;
				border-radius: 3px;
				display: table;
				width: 100%;
			}
			@media ( max-width: @screen-xs-max) {
				.after();
			}
			&c {
				@media ( min-width: @screen-sm-min) {
					display: table-cell;
					vertical-align: top;
				}
				@media ( min-width: 480px) and ( max-width: @screen-xs-max) {
					float: left;
				}

				&:not(.c-search__form-footer) {
					@media ( min-width: 480px) and ( max-width: @screen-xs-max) {
						padding-right: 5px;
						padding-left: 5px;
						width: 50%;
					}
				}
			}
			.bootstrap-select > .dropdown-toggle {
				background-color: #fff;
				text-transform: none;

				@media ( min-width: @screen-sm-min) {
					border-radius: 0;
				}
			}
			input.form-control {
				@media ( min-width: @screen-sm-min) {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
					border-right: none;
				}
			}
			.form-group {
				@media ( min-width: @screen-sm-min) {
					margin-bottom: 0;
				}
			}
		}
		&-select {
			@media ( min-width: @screen-sm-min) {
				width: 27.7%;
			}			
		}
		&-footer {
			@media ( min-width: @screen-sm-min) {
				width: 80px;
			}
			@media ( max-width: @screen-xs-max) {
				text-align: center;
				width: 100%;
			}

			.btn {
				box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

				@media ( min-width: @screen-sm-min) {
					border-bottom-left-radius: 0;
					border-top-left-radius: 0;
					display: block;
					width: 100%;
					z-index: 1;
				}
			}
		}
	}
}