.c-set-store {
	&__ttl {
		padding-bottom: 20px;

		h3,
		.h3 {
			line-height: 33px;
			font-weight: 400;
			font-size: 22px;
			color: #384149;
		}
	}
	&__tarif {
		&-ttl {
			padding-bottom: 17px;
			line-height: 28px;
			padding-top: 1px;
			font-weight: 400;
			font-size: 20px;
		}
		&-info {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 10px;
			position: relative;
			padding-left: 42px;
		}
		&-icon {
			position: absolute;
			font-size: 30px;
			display: block;
			color: @blue;
			left: 0;
			top: 2px;
		}
		&-name {
			margin-right: 12px;
			line-height: 26px;
			font-weight: 400;
			padding-top: 5px;
			font-size: 17px;
			color: @blue;
		}
		&-expired {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 10px;
			margin-right: 26px;
			padding-top: 11px;
		}
		&-btn-wrap {
			display: inline-block;
			vertical-align: top;

			.btn {
				box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

				&:not(:last-child) {
					margin-right: 20px;
				}
			}
		}
	}
	&__info {
		padding-top: 45px;

		&-ttl {
			padding-bottom: 19px;
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
		&-notice {
			padding-bottom: 20px;
			line-height: 22px;
			font-weight: 400;
			font-size: 14px;
			color: #384149;
		}
		.form-control[contenteditable="true"],
		textarea.form-control {
			padding: 15px 20px;
			line-height: 22px;
		}
		.form-footer {
			text-align: left;
		}
	}
	&__images {
		padding-top: 41px;
		max-width: 620px;

		.row {
			& > * {
				&:not(:last-child) {
					@media ( max-width: @screen-xs-max) {
						margin-bottom: 20px;
					}
				}
			}
		}

		&-t {
			display: table;
			width: 100%;

			&r {
				display: table-row;

				&:not(:last-child) {
					.c-set-store__images-tc {
						padding-bottom: 20px;
					}
				}
			}
			&c {
				vertical-align: middle;
				display: table-cell;

				&.tc-100 {
					width: 100%;
				}

				&-ttl {
					vertical-align: middle;
					display: inline-block;
				}
			}
		}
		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
		}
	}
	&__contacts {
		padding-bottom: 20px;
		padding-top: 51px;

		&-ttl {
			padding-bottom: 29px;
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
		.form-footer {
			text-align: left;
			padding-top: 0;

			.btn {
				box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

				&:not(:last-child) {
					margin-right: 25px;
				}
			}
		}
	}
	&__address {
		padding-bottom: 23px;

		.form-group {
			display: table;
			width: 100%;
		}
		.form-group-ttl {
			vertical-align: middle;
			padding-right: 10px;
			display: table-cell;
			line-height: 22px;
			font-weight: 400;
			font-size: 14px;
			color: #384149;
		}
		.input-wrap {
			vertical-align: middle;
			display: table-cell;
			width: 100%;
		}
	}
	&__social {
		padding-bottom: 19px;

		&-ttl {
			padding-bottom: 23px;
			color: #384149;
		}
		&-list {
			display: table;
			width: 100%;
		}
		&-item {
			display: table-row;

			&:not(:last-child) {
				.c-set-store__social-input,
				.c-set-store__social-item-label {
					padding-bottom: 15px;
				}
			}

			&-label {
				vertical-align: middle;
				white-space: nowrap;
				display: table-cell;

				label {
					vertical-align: middle;
					display: inline-block;
					margin-right: 6px;
				}
				.icon {
					font-size: 20px;
				}
				.icon,
				.ico {
					vertical-align: middle;
					display: inline-block;
					margin-right: 10px;
				}
				span {
					vertical-align: middle;
					display: inline-block;
					line-height: 22px;
					font-weight: 400;
					font-size: 14px;
					color: #384149;
				}
			}
		}
		&-input {
			vertical-align: top;
			display: table-cell;
			width: 100%;

			.form-group {
				margin-bottom: 0;
			}
		}
	}
	&__messagers {
		padding-bottom: 19px;

		&-ttl {
			padding-bottom: 23px;
			color: #384149;
		}
		&-list {
			padding-top: 20px;

			ul {}
			li {
				display: inline-block;
				vertical-align: top;
				margin-bottom: 22px;
				white-space: nowrap;

				&:not(:last-child) {
					margin-right: 33px;
				}
			}
			span,
			.icon {
				vertical-align: middle;
				display: inline-block;
			}
			.icon {
				transition: opacity 0.3s ease;
				margin-right: 10px;
				margin-left: 10px;
				font-size: 18px;

				& ~ span {
					transition: opacity 0.3s ease;
				}
			}
			input:not(:checked) {
				& ~ .icon {
					opacity: 0.5;

					& ~ span {
						opacity: 0.5;
					}
				}
			}
		}
	}
	&__phone {
		max-width: 166px;
	}
	&__links {
		padding-bottom: 15px;

		&-ttl {
			padding-bottom: 23px;
		}
		&-list {}
		&-item {
			margin-bottom: 15px;
			display: table;
			width: 100%;
		}
		&-label {
			vertical-align: middle;
			display: table-cell;
			white-space: nowrap;
			width: 106px;

			label {
				vertical-align: middle;
				display: inline-block;
			}
			.icon {
				vertical-align: middle;
				display: inline-block;
				margin-right: 10px;
				font-size: 20px;
				color: @blue;
			}
			span {}
		}
		&-input {
			vertical-align: middle;
			display: table-cell;

			.form-group {
				margin-bottom: 0;
			}
		}
	}
	&__pages {
		padding-top: 30px;

		&-ttl {
			padding-bottom: 31px;
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
		&-list {
			@media ( min-width: @screen-sm-min) {
				display: table;
				width: 100%;
			}
		}
		&-item {
			@media ( min-width: @screen-sm-min) {
				display: table-row;
			}

			&:not(:last-child) {
				@media ( max-width: @screen-xs-max) {
					margin-bottom: 10px;
				}
				.c-set-store__pages-item-ttl,
				.c-set-store__pages-item-buttons {
					@media ( min-width: @screen-sm-min) {
						padding-bottom: 20px;
					}
				}
			}

			&-ttl {
				@media ( min-width: @screen-sm-min) {
					vertical-align: middle;
					padding-right: 20px;
					white-space: nowrap;
					display: table-cell;
				}
				@media ( max-width: @screen-xs-max) {
					padding-bottom: 10px;
				}
			}
			&-buttons {
				@media ( min-width: @screen-sm-min) {
					vertical-align: middle;
					display: table-cell;
					width: 100%;
				}

				.btn {
					box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

					&:not(:last-child) {
						margin-right: 20px;

						@media ( max-width: @screen-xs-max) {
							margin-right: 10px;
						}
					}

					@media ( max-width: @screen-xs-max) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}