.c-stores-list {
	&__wrap {
		padding-bottom: 28px;
		padding-top: 30px;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 36px;

			@media ( max-width: @screen-xs-max) {
				margin-bottom: 15px;
			}
		}
		&-inner {
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			margin-right: 195px;
			position: relative;
			border-radius: 3px;
			padding-right: 30px;
			padding-top: 40px;
			min-height: 205px;

			@media ( max-width: @screen-xs-max) {
				padding-right: 15px;
				padding-top: 20px;
				margin-right: 0;
			}
		}
		&-ttl {
			padding-left: 30px;

			@media ( max-width: @screen-xs-max) {
				padding-bottom: 10px;
				padding-left: 15px;
			}

			.svg-wrap {
				background-color: @yellow;
				vertical-align: middle;
				display: inline-block;
				border-radius: 3px;
				margin-bottom: 4px;
				margin-right: 10px;
				font-size: 20px;
				padding: 5px;
				height: auto;
				width: auto;

				.icon {
					display: block;
				}
			}
			h4,
			.h4 {
				font-weight: 700;
				font-size: 24px;
				color: #0e0e0e;

				@media ( max-width: @screen-xs-max) {
					font-size: 20px;
				}
			}
		}
		&-img {
			position: absolute;
			width: 195px;
			left: 100%;
			top: 5px;

			@media ( max-width: @screen-xs-max) {
				position: relative;
				margin-left: 15px;
				left: auto;
				top: auto;
			}

			.h-object-fit {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 1;
				bottom: 0;
				right: 0;
				left: 0;
				top: 0;
			}

			&:before {
				padding-bottom: 100%;
				visibility: hidden;
				display: block;
				content: '';
			}
		}
		&-txt {
			padding-bottom: 19px;
			padding-left: 30px;
			line-height: 22px;
			padding-top: 17px;
			color: #384149;

			@media ( max-width: @screen-xs-max) {
				padding-left: 15px;
			}
		}
		&-footer {
			border-top: 1px solid #f6f6f6;
			padding-bottom: 17px;
			padding-left: 30px;
			padding-top: 17px;
			.after();

			@media ( max-width: @screen-xs-max) {
				padding-left: 15px;
			}
		}
		&-type {
			float: left;

			a {
				color: @blue !important;

				&:hover {}
				&:focus {}
				&:active {}
			}
		}
		&-count {
			float: right;

			a {
				color: #384149 !important;

				&:hover {}
				&:focus {}
				&:active {}
			}
		}
	}
}