.c-store-section {
	background-color: #f6f6f6;
	padding-bottom: 60px;
	padding-top: 60px;
	margin-top: 10px;

	@media ( max-width: @screen-sm-max) {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	@media ( max-width: @screen-xs-max) {
		margin-top: 0;
	}

	&__inner {
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
		width: calc(~"50% - 15px");
		background-color: #fff;
		position: relative;

		@media ( max-width: @screen-sm-max) {
			padding-right: 30px;
			padding-left: 30px;
			background: none;
			box-shadow: none;
		}
		@media ( max-width: @screen-xs-max) {
			padding-right: 0;
			padding-left: 0;
		}

		@media ( max-width: @screen-sm-max) {
			margin-right: auto;
			margin-left: auto;
			max-width: 550px;
			width: auto;
		}

		&-wrap {
			background-color: #fff;
			padding-bottom: 26px;
			padding-right: 68px;
			position: relative;
			padding-top: 30px;
			z-index: 2;

			@media ( max-width: @screen-md-max) {
				padding-right: 20px;
			}
			@media ( max-width: @screen-sm-max) {
				box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
				padding-left: 20px;
				margin-top: -30px;
			}
			@media ( max-width: @screen-xs-max) {
				margin-top: 0;
			}
		}

		&:before {
			@media ( min-width: @screen-md-min) {
				box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
				background-color: #fff;
				position: absolute;
				display: block;
				width: 100vw;
				right: 100%;
				content: '';
				z-index: 1;
				bottom: 0;
				top: 0;
			}
		}
	}
	&__img {
		width: calc(~"100% + 85px");
		left: calc(~"100% - 56px");
		position: absolute;
		z-index: 1;
		top: -30px;

		@media ( max-width: @screen-sm-max) {
			margin-right: -30px;
			margin-left: -30px;
			position: relative;
			width: auto;
			left: 0;
			top: 0;
		}


		&:before {
			padding-bottom: 100%;
			visibility: hidden;
			display: block;
			content: '';
			opacity: 0;
		}

		.h-object-fit {
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
		}
	}
	&__btn-wrap {
		padding-bottom: 20px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		ul {
			.after();
		}
		li {
			margin-bottom: 10px;
			float: left;

			@media ( max-width: @screen-xs-max) {
				display: inline-block;
				vertical-align: top;
				margin-right: 4px;
				margin-left: 4px;
				float: none;
			}

			&:not(:last-child) {
				@media ( min-width: @screen-sm-min) {
					margin-right: 20px;
				}
			}
		}
		.btn {
			text-transform: none;
			line-height: 30px;
			font-weight: 400;
			font-size: 14px;
			height: 30px;
		}
	}
	&__logo {}
	&__ttl {
		white-space: nowrap;
		padding-top: 32px;

		.svg-wrap {
			background-color: @yellow;
			display: inline-block;
			vertical-align: top;
			border-radius: 3px;
			margin-right: 7px;
			font-size: 20px;
			padding: 5px;
			height: auto;
			width: auto;
			color: #000;


			.icon {
				display: block;
			}
		}
		h2,
		.h2 {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			font-weight: 700;
			margin-top: 3px;
			font-size: 24px;
			color: #0e0e0e;
			
			@media ( max-width: @screen-xs-max) {
				margin-top: 5px;
				font-size: 20px;
			}
		}
	}
	&__descr {
		padding-bottom: 20px;
		padding-top: 20px;
		line-height: 25px;
		min-height: 170px;
		font-size: 16px;
		color: #000;

		@media ( max-width: @screen-xs-max) {
			line-height: 22px;
			font-size: 14px;
			min-height: 0;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__address {
		border-top: 1px solid #f6f6f6;
		padding-bottom: 25px;
		padding-top: 20px;
		line-height: 22px;
		font-weight: 700;
		font-size: 14px;
		color: #0e0e0e;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
			padding-bottom: 0;
		}

		span {
			display: inline-block;
			vertical-align: top;
			padding-left: 37px;
			position: relative;
			margin-top: 3px;
		}
		.icon {
			position: absolute;
			font-size: 30px;
			display: block;
			top: -3px;
			left: 0;
		}
	}
	&__contacts {
		padding-bottom: 10px;
		padding-top: 10px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		&-messegers {
			margin-top: 5px;
			font-size: 20px;

			@media ( min-width: @screen-sm-min) {
				vertical-align: middle;
				display: inline-block;
				margin-right: 16px;
			}
			@media ( max-width: @screen-xs-max) {
				margin-bottom: 10px;
			}

			ul {}
			li {
				display: inline-block;
				vertical-align: top;

				&.is-disabled {
					pointer-events: none;
					cursor: default;
					opacity: 0.2;
				}
				&:not(:last-child) {
					margin-right: 5px;
				}
			}
			span,
			a {
				display: block;

				&:hover {}
				&:focus {}
				&:active {}
			}
			.icon {
				display: block;
			}
		}
		&-phone {
			&-wrap {
				vertical-align: middle;
				display: inline-block;
			}
			&-number {
				vertical-align: middle;
				display: inline-block;
				margin-right: 16px;
				line-height: 33px;
				font-weight: 400;
				font-size: 22px;
				color: #000;

				@media ( max-width: @screen-xx-max) {
					padding-bottom: 10px;
					margin-right: 0;
					display: block;
				}
			}
			&-trig {
				box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
	&__social {
		padding-top: 15px;

		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		ul {}
		li {
			vertical-align: middle;
			display: inline-block;
			margin-bottom: 10px;

			&:not(:last-child) {
				margin-right: 26px;

				@media ( max-width: @screen-md-max) {
					margin-right: 15px;
				}
			}
		}
		a:not(.btn) {
			display: block;
			color: #384149;

			span {
				vertical-align: middle;
				display: inline-block;
			}

			.icon {
				font-size: 20px;
			}
		}
		.ico,
		.icon {
			vertical-align: middle;
			margin-right: 10px;
		}
		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
			font-size: 16px;
			color: #000;
		}
	}
}