.c-store-head {
	&__inner {
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		padding-bottom: 30px;
		padding-right: 20px;
		border-radius: 3px;
		padding-left: 20px;
		padding-top: 30px;

		@media ( max-width: @screen-sm-max) {
			padding-bottom: 20px;
		}
	}
	&__t {
		display: table;
		width: 100%;
	}
	&__tc-left {
		@media ( min-width: @screen-md-min) {
			display: table-cell;
			vertical-align: top;
		}
	}
	&__tc-right {
		@media ( min-width: @screen-md-min) {
			display: table-cell;
			vertical-align: top;
			text-align: right;
		}
	}
	&__logo {
		display: inline-block;
		vertical-align: top;
		margin-right: 46px;

		@media ( max-width: @screen-xx-max) {
			text-align: center;
			margin-right: 0;
			display: block;
		}
	}
	&__ttl {
		display: inline-block;
		vertical-align: top;
		margin-top: 10px;

		@media ( max-width: @screen-xx-max) {
			text-align: center;
			display: block;
		}

		.svg-wrap {
			background-color: @yellow;
			display: inline-block;
			vertical-align: top;
			border-radius: 3px;
			margin-right: 6px;
			font-size: 20px;
			padding: 5px;
			height: auto;
			width: auto;
		}
		h2,
		.h2 {
			display: inline-block;
			vertical-align: top;
			font-weight: 700;
			margin-top: 3px;
			font-size: 24px;
			color: #0e0e0e;
		}
	}
	&__btn-wrap {
		padding-top: 10px;

		@media ( max-width: @screen-sm-max) {
			padding-top: 20px;
		}
		@media ( max-width: @screen-xs-max) {
			text-align: center;
		}

		ul {}
		li {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 10px;

			&:not(:last-child) {
				@media ( min-width: @screen-sm-min) {
					margin-right: 16px;
				}
			}
			@media ( max-width: @screen-xs-max) {
				margin-right: 8px;
				margin-left: 8px;
			}
		}
		.btn {
			text-transform: none;
			line-height: 30px;
			font-weight: 400;
			font-size: 14px;
			height: 30px;
		}
	}
}