.c-tarifs {
	padding-bottom: 100px;
	padding-top: 100px;

	@media ( max-width: @screen-sm-max) {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	@media ( max-width: @screen-xs-max) {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	&__ttl {
		padding-bottom: 63px;
		text-align: center;
		padding-top: 13px;

		@media ( max-width: @screen-xs-max) {
			padding-bottom: 20px;
		}

		h3,
		.h3 {
			font-size: 24px;
			color: #0e0e0e;
		}
	}
	&__list {
		.row {
			> * {
				display: inline-block;
				margin-right: -0.15em;
				margin-left: -0.15em;
				vertical-align: top;
				float: none;

				&:not(:last-child) {
					@media ( max-width: @screen-xs-max) {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	&__item {
		border: 2px solid transparent;
		border-radius: 3px;
		text-align: center;
		padding-top: 47px;

		@media ( max-width: @screen-xs-max) {
			margin-right: auto;
			margin-left: auto;
			padding-top: 20px;
			max-width: 350px;
		}

		&-icon {
			height: 50px;

			.icon {
				vertical-align: top;
				font-size: 44px;

				.c-tarifs__item_special & {
					color: @blue;
				}

				&.icon-business {
					font-size: 44px;
				}
				&.icon-startup {
					font-size: 42px;
				}
				&.icon-fast-start {
					font-size: 43px;
				}
			}
		}
		&-ttl {
			padding-bottom: 51px;
			padding-top: 13px;

			@media ( max-width: @screen-xs-max) {
				padding-bottom: 5px;
				padding-top: 5px;
			}

			h4,
			.h4 {
				line-height: 32px;
				font-weight: 400;
				font-size: 24px;
			}
		}
		&-price {
			line-height: 28px;
			font-weight: 400;
			font-size: 20px;
		}
		&-descr {
			padding-bottom: 18px;
			padding-top: 50px;
			line-height: 25px;
			font-weight: 400;
			font-size: 16px;
			color: #384149;

			@media ( max-width: @screen-xs-max) {
				padding-bottom: 10px;
				padding-top: 10px;
			}
		}
		&-limit {
			line-height: 22px;
			font-weight: 400;
			font-size: 14px;

			.icon {
				vertical-align: middle;
				margin-right: 6px;
				font-size: 20px;
			}
			span {
				vertical-align: middle;
				display: inline-block;
			}
		}
		&-btn-wrap {
			padding-bottom: 48px;
			padding-top: 50px;

			@media ( max-width: @screen-xs-max) {
				padding-bottom: 15px;
				padding-top: 20px;
			}
			.btn {}
		}
		&-special-footer {
			background-color: #e0e4e6;
			padding-bottom: 10px;
			line-height: 25px;
			padding-top: 14px;
			font-weight: 400;
			font-size: 16px;
			color: #384149;
		}
		&_special {
			border-color: #dde0e3;
		}
	}
}