.c-footer{
	background-color: #f5fbff;
	padding-bottom: 20px;
	padding-top: 20px;

	@media ( min-width: @screen-sm-min) {
		position: absolute;
		z-index: 3;
		bottom: 0;
		right: 0;
		left: 0;
	}
	@media ( max-width: @screen-xs-max) {
		text-align: center;
	}

	&__logo {
		vertical-align: middle;
		display: inline-block;
		padding-bottom: 20px;
		padding-left: 34px;
		padding-top: 20px;
		font-size: 46px;

		@media ( max-width: @screen-sm-max) {
			padding-left: 0;
		}
		@media ( max-width: @screen-xs-max) {
			text-align: center;
			// padding-top: 30px;
			display: block;
		}

		a {
			display: block;

			@media ( max-width: @screen-xs-max) {
				display: inline-block;
			}

			.icon {
				display: block;
			}
		}
	}
	&__txt {
		vertical-align: middle;
		display: inline-block;
		padding-bottom: 20px;
		padding-left: 30px;
		padding-top: 20px;
		line-height: 21px;
		font-weight: 400;
		font-size: 14px;
		color: #384149;

		@media ( max-width: @screen-sm-max) {
			padding-left: 20px;
		}
		@media ( max-width: @screen-xs-max) {
			padding-bottom: 15px;
			text-align: center;
			padding-top: 0;
		}
	}
	&__menu {
		&-wrap {
			display: table;
			width: 100%;

			@media ( max-width: @screen-xx-max) {
				display: block;
				width: auto;
			}
		}
		&-block {
			padding-bottom: 30px;
			vertical-align: top;
			display: table-cell;
			padding-top: 49px;

			@media ( max-width: @screen-xx-max) {
				text-align: center;
				margin-right: auto;
				margin-left: auto;
				max-width: 300px;
				display: block;
			}

			&:not(:last-child) {
				padding-right: 10px;

				@media ( max-width: @screen-xx-max) {
					padding-right: 0;
				}
			}

			@media ( max-width: @screen-xs-max) {
				padding-top: 0;
			}

			&-ttl {
				margin-bottom: 18px;
				line-height: 28px;
				font-weight: 400;
				font-size: 20px;
			}
			ul {
				color: #2d9df3;
			}
			li {
				&:not(:last-child) {
					margin-bottom: 14px;
				}
			}
			a {
				color: @blue !important;
			}
		}
	}
}