.c-header {
	padding-bottom: 30px;
	position: relative;
	padding-top: 40px;
	z-index: 2;

	@media ( max-width: @screen-xs-max) {
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		padding-bottom: 5px;
		padding-top: 5px;
		position: fixed;
		z-index: 50;
		right: 0;
		left: 0;
		top: 0;
	}

	&.header_logged {
		& + main .c-breadcrumbs:first-child {
			padding-top: 13px;
		}
	}
	&_white_fixed {
		@media ( min-width: @screen-sm-min) {
			position: absolute;
			z-index: 20;
			right: 0;
			left: 0;
			top: 0;
		}
	}
	&__col-left {
		@media ( max-width: @screen-xs-max) {
			float: left;
		}
		@media ( max-width: @screen-xx-max) {
			text-align: center;
			float: none;
		}
	}
	&__col-right {
		@media ( max-width: @screen-xs-max) {
			position: static;
		}
	}
	&__t {
		display: table;
		width: 100%;

		@media ( max-width: @screen-xx-max) {
			display: block;
			width: auto;
		}
	}
	&__logo-wrap {
		vertical-align: top;
		white-space: nowrap;
		display: table-cell;
		padding-left: 5px;
		width: 266px;

		.header_logged & {
			@media ( min-width: @screen-lg-min) {
				width: 158px;
			}
			@media ( min-width: @screen-md-min) and ( max-width: @screen-md-max) {
				width: 120px;
			}
		}

		@media ( max-width: @screen-sm-max) {
			width: 120px;
		}
		@media ( max-width: @screen-xs-max) {
			display: block;
			width: auto;
		}
		@media ( max-width: @screen-xx-max) {
			text-align: left;
		}

		a {
			text-decoration: none !important;
			color: #384149 !important;
			display: block;

			.c-header_white_fixed & {
				@media ( min-width: @screen-sm-min) {
					color: @White !important;
				}
			}

			&:hover {}
			&:focus {}
			&:active {}
		}
	}
	&__logo-icon {
		vertical-align: middle;
		display: inline-block;
		font-size: 44px;

		.icon {
			display: block;
		}
	}
	&__logo-text {
		font-family: 'qanelas';
		vertical-align: middle;
		display: inline-block;
		margin-bottom: 2px;
		margin-left: 8px;
		font-weight: 500;
		line-height: 1em;
		font-size: 24px;
	}
	&__location {
		vertical-align: top;
		display: table-cell;
		position: relative;
		padding-top: 11px;

		@media ( max-width: @screen-xx-max) {
			display: inline-block;
			padding-bottom: 5px;
			padding-top: 3px;
			width: auto;
		}

		&-trig {
			text-overflow: ellipsis;
			white-space: nowrap;
			padding-right: 30px;
			position: relative;
			padding-left: 10px;
			line-height: 21px;
			overflow: hidden;
			font-weight: 400;
			font-size: 14px;
			color: #384149;

			.c-header_white_fixed & {
				@media ( min-width: @screen-sm-min) {
					color: @White;
				}
			}
		}
		&-drop {
			transition: margin-top 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
			background-color: @White;
			position: absolute;
			border-radius: 3px;
			text-align: left;
			overflow: hidden;
			top: 100%;
			left: 0;

			&.minimized {
				pointer-events: none;
				visibility: hidden;
				margin-top: 10px;
				opacity: 0;
			}

			ul {}
			li {
				&.active {
					a {
						background-color: #e0e4e6;
						font-weight: 700;
						cursor: default;
						color: @blue;

						&:hover {}
						&:focus {}
						&:active {}
					}
				}
			}
			a {
				transition: background-color 0.3s ease, color 0.3s ease;
				text-decoration: none !important;
				width: -moz-max-content;
				width: -webkit-max-content;
				width: max-content;
				padding-bottom: 5px;
				padding-right: 10px;
				padding-left: 10px;
				padding-top: 5px;
				max-width: 100%;
				min-width: 100%;
				display: block;
				color: #000;

				&:hover {
					background-color: #e0e4e6;
					color: @blue;
				}
				&:focus {}
				&:active {}
			}
		}
	}
	&__btn-group {
		text-align: right;
		padding-top: 4px;

		@media ( max-width: @screen-xs-max) {
			position: absolute;
			padding-right: 10px;
			padding-top: 10px;
			right: 0;
			top: 0;
		}

		ul {}
		li {
			display: inline-block;
			vertical-align: top;

			&:not(:last-child) {
				margin-right: 15px;

				@media ( max-width: @screen-xx-max) {
					margin-right: 10px;
				}
			}
		}
		.btn {
			@media ( max-width: @screen-xs-max) {
				border-radius: 0 !important;
				background: none !important;
				padding: 0 !important;
				display: block;
			}

			.btn-text {}
			.svg-wrap {
				line-height: 1em;
				font-size: 30px;
				color: @blue;

				.icon {
					display: block;
				}
			}
		}
	}
	&__add-declaration {
		@media ( min-width: @screen-sm-min) {
			margin-left: 10px;
		}
		.header_logged & {
			@media ( max-width: @screen-sm-max) {
				font-size: 20px;
				height: 30px;
				width: 30px;
			}
			.svg-wrap {
				position: absolute;
				display: block;
				margin: auto;
				bottom: 0;
				right: 0;
				left: 0;
				top: 0;
			}
		}
	}
	&__login-group {
		text-align: right;
		padding-top: 5px;

		@media ( max-width: @screen-xs-max) {
			transition: transform 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
			box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			padding-bottom: 15px;
			padding-right: 15px;
			padding-left: 15px;
			text-align: center;
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
		}

		&-trig {
			position: absolute;
			font-size: 24px;
			right: 10px;
			top: 10px;

			&:hover {}
			&:focus {}
			&:active,
			&.active {
				color: @blue;
			}
		}

		&.minimized {
			@media ( max-width: @screen-xs-max) {
				transform: translateX(100%);
				pointer-events: none;
				visibility: hidden;
				opacity: 0;
			}
		}

		.btn {
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
			vertical-align: middle;
		}
	}
	&__fav {
		color: transparent !important;
		margin-right: 30px;
		margin-left: 30px;
		font-size: 20px;

		@media ( max-width: @screen-md-max) {
			margin-right: 15px;
			margin-left: 15px;
		}
		&.is-active {
			color: @blue !important;
		}
		.svg-wrap {
			position: absolute;
			display: block;
			margin: auto;
		}
	}
	&__phone {
		&-wrap {
			vertical-align: middle;
			display: inline-block;
			padding-right: 37px;
			position: relative;

			@media ( max-width: @screen-xx-max) {
				margin-right: auto;
				margin-left: auto;
				margin-top: 10px;
				display: block;
				width: 160px;
			}

			li {
				padding-bottom: 5px;
				padding-top: 5px;
			}
			a {
				font-weight: 600;

				&:hover {}
				&:focus {}
				&:active {}
			}
		}
		&-main {}
		&-trig {
			position: absolute;
			height: 20px;
			width: 20px;
			top: -2px;
			right: 0;

			.trig-caret {}
		}
		&-drop {
			transition: opacity 0.3s ease, visibility 0.3s ease, margin 0.3s ease;
			box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			border-radius: 3px;
			position: absolute;
			margin-top: 10px;
			display: block;
			padding: 15px;
			left: -15px;
			top: 100%;

			&.minimized {
				pointer-events: none;
				visibility: hidden;
				margin-top: 20px;
				opacity: 0;
			}
		}
	}
	&__balance {
		vertical-align: middle;
		display: inline-block;
		white-space: nowrap;
		margin-right: 26px;

		@media ( max-width: @screen-md-max) {
			margin-right: 15px;
		}
		@media ( max-width: @screen-xx-max) {
			margin-right: 0;
		}

		&-value {
			vertical-align: middle;
			display: inline-block;
			line-height: 22px;
			font-weight: 400;
			font-size: 14px;
			color: #384149;
		}
		.btn {
			font-size: 20px;
		}
	}
	&__shop {
		margin-right: 18px;
		font-size: 20px;

		@media ( max-width: @screen-md-max) {
			margin-right: 15px;
		}
	}
}
.trig-caret {
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
	background-color: @White;
	border-radius: 3px;
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	right: 0;
	top: 0;

	button:hover &,
	a:hover &,
	&:hover {
		background-color: @White - 50%;
	}
	&:focus {}
	&:active {}

	&:before {
		border-bottom: 1px solid @blue;
		border-right: 1px solid @blue;
		transform: rotate(45deg);
		position: absolute;
		display: block;
		margin: auto;
		content: '';
		height: 8px;
		width: 8px;
		bottom: 0;
		top: -4px;
		right: 0;
		left: 0;
	}
}