mixin c-collapse(data)
	.panel
		.panel-heading
			a(class=data.active?'':'collapsed', role='button', href='#'): span!=data.title
		.panel-collapse.collapse(class=data.active?'in opened_default':'', role='tabpanel')
			.panel-body
				if (data.answer)
					.c-faq__answer
						p!=data.answer