mixin c-store-section(data)
	.c-store-section
		.container
			.c-store-section__inner
				.c-store-section__img.hidden-xs
					.h-object-fit
						img(src=data.img, alt="")
				.c-store-section__inner-wrap
					.c-store-section__btn-wrap
						ul.h-list
							li: a.btn.btn_blue(href="#") О магазине
							li: a.btn.btn_blue(href="#") Сервис и информация
							li: a.btn.btn_blue(href="#") Контакты
					.c-store-section__logo
						img(src=data.logo, alt="")
					.c-store-section__ttl
						if (data.ttl_icon)
							i.svg-wrap
								+svg('icon-check')
						h2.h2=data.ttl
					.c-store-section__descr
						p!=data.descr
					.c-store-section__address
						span
							+svg('icon-pointer')
							|#{data.address}
					.c-store-section__contacts
						.c-store-section__contacts-messegers
							ul.h-list
								each item in data.contacts.messegers
									li(class=item.disabled ? 'is-disabled' : '')
										unless (item.disabled)
											a(href="#")
												+svg(item.icon)
										else
											span
												+svg(item.icon)
						.c-store-section__contacts-phone-wrap.js--phone-wrap
							.c-store-section__contacts-phone-number
								span.js--phone-number(data-original-number=data.contacts.phone_original)=data.contacts.phone_visible
							button.c-store-section__contacts-phone-trig.btn.btn_white.js--phone-trig(type="button") Показать телефон
					.c-store-section__social
						ul.h-list
							each item in data.social
								li
									a(href="#")
										if (item.svg_name)
											+svg(item.svg_name)
										if (item.ico)
											i.ico(class=item.ico)
										if (item.txt)
											span=item.txt
							li
								a.btn.btn_white.btn_icon(href="#")
									i.svg-wrap.icon-share
										+svg('icon-share')
